Repository yuzu-emu/yuzu, pull requests merged in 2019-12, with the labels that each got.

#2987 Texture_Cache: Redo invalid Surfaces handling.
  src/video_core/texture_cache/surface_params.cpp
  src/video_core/texture_cache/surface_params.h
  src/video_core/texture_cache/texture_cache.h
Labels: gpu, mainline-merge

#3109 Implement FLO & TXD Instructions on GPU Shaders
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/renderer_vulkan/vk_shader_decompiler.cpp
  src/video_core/shader/decode/arithmetic_integer.cpp
  src/video_core/shader/decode/texture.cpp
  src/video_core/shader/node.h
Labels: gpu-new, opengl

#3195 CpuCore: Clear exclusive state after doing a run in dynarmic.
  src/core/core_cpu.cpp
  src/core/hle/kernel/scheduler.cpp
Labels: core-fix, mainline-merge

#3202 kernel: Remove unnecessary includes
  src/core/hle/kernel/address_arbiter.cpp
  src/core/hle/kernel/address_arbiter.h
  src/core/hle/kernel/client_port.cpp
  src/core/hle/kernel/client_port.h
  src/core/hle/kernel/handle_table.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/mutex.cpp
  src/core/hle/kernel/resource_limit.h
  src/core/hle/kernel/scheduler.h
  src/core/hle/kernel/session.h
  src/core/hle/kernel/shared_memory.h
  src/core/hle/kernel/transfer_memory.h
  src/core/hle/kernel/wait_object.h
  src/core/hle/kernel/writable_event.h
Labels: general

#3199 vk_swapchain: Add support for swapping sRGB
  src/video_core/renderer_vulkan/vk_swapchain.cpp
  src/video_core/renderer_vulkan/vk_swapchain.h
Labels: vulkan

#3198 maxwell_3d: Add tessellation state entries
  src/video_core/engines/maxwell_3d.h
Labels: gpu-new

#3205 vk_device: Misc changes
  src/video_core/renderer_vulkan/vk_device.cpp
  src/video_core/renderer_vulkan/vk_device.h
Labels: vulkan

#3201 kernel/svc: Provide implementations for svcDumpInfo/svcDumpInfoNew
  src/core/hle/kernel/svc.cpp
  src/core/hle/kernel/svc_wrap.h
Labels: kernel-new

#3165 Kernel: Correct behavior of Address Arbiter threads.
  src/core/hle/kernel/address_arbiter.cpp
  src/core/hle/kernel/address_arbiter.h
  src/core/hle/kernel/kernel.cpp
Labels: mainline-merge

#3214 kernel/svc: Amend function signature of SignalProcessWideKey
  src/core/hle/kernel/svc.cpp
  src/core/hle/kernel/svc_wrap.h
Labels: early-access-merge, kernel-fix

#3212 gl_shader_cache: Add missing new-line on emitted GLSL
  src/video_core/renderer_opengl/gl_shader_cache.cpp
Labels: early-access-merge, opengl

#3213 gl_device: Enable compute shaders for Intel Mesa drivers
  src/video_core/renderer_opengl/gl_device.cpp
Labels: early-access-merge, gpu, opengl

#3222 maxwell_to_vk: Use VK_EXT_index_type_uint8 and misc changes
  src/video_core/renderer_vulkan/maxwell_to_vk.cpp
  src/video_core/renderer_vulkan/maxwell_to_vk.h
  src/video_core/renderer_vulkan/vk_sampler_cache.cpp
Labels: vulkan

#3219 Corrections and fixes to TLD4S & Bindless samplers failing
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/shader/decode/texture.cpp
  src/video_core/shader/shader_ir.h
Labels: early-access-merge, gpu-fix

#3182 renderer_opengl: Miscellaneous clean ups
  src/video_core/renderer_opengl/renderer_opengl.cpp
  src/video_core/renderer_opengl/renderer_opengl.h
Labels: general, opengl

#3173 common: SPSCQueue: Notify after incrementing queue size.
  src/common/threadsafe_queue.h
Labels: general, mainline-merge

#3231 shader_bytecode: Fix TLD4S encoding
  src/video_core/engines/shader_bytecode.h
Labels: early-access-merge, gpu-fix

#3232 gl_shader_decompiler: Add missing DeclareImages
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
Labels: early-access-merge, opengl

#3233 shader/texture: Properly shrink unused entries in size mismatches
  src/video_core/shader/decode/texture.cpp
Labels: early-access-merge, gpu-fix

#3234 shader/conversion: Implement byte selector in I2F
  src/video_core/shader/decode/conversion.cpp
Labels: early-access-merge, gpu-new

#3235 shader/memory: Implement LDG.U8 and unaligned U8 loads
  src/video_core/shader/decode/memory.cpp
Labels: early-access-merge, gpu-new

#3240 vk_shader_decompiler: Use Visit instead of reimplementing it
  src/video_core/renderer_vulkan/vk_shader_decompiler.cpp
Labels: early-access-merge, vulkan

#3230 renderer_vulkan/shader: Add helper GLSL shaders
  src/video_core/renderer_vulkan/shaders/blit.frag
  src/video_core/renderer_vulkan/shaders/blit.vert
  src/video_core/renderer_vulkan/shaders/quad_array.comp
  src/video_core/renderer_vulkan/shaders/uint8.comp
Labels: vulkan

#3203 Texture Cache: Add HLE methods for building 3D textures
  src/video_core/texture_cache/surface_params.cpp
  src/video_core/texture_cache/surface_params.h
  src/video_core/texture_cache/texture_cache.h
  src/video_core/textures/decoders.h
Labels: early-access-merge, gpu-new

#3238 vk_resource_manager: Catch device losses and other changes
  src/video_core/renderer_vulkan/vk_device.cpp
  src/video_core/renderer_vulkan/vk_device.h
  src/video_core/renderer_vulkan/vk_resource_manager.cpp
  src/video_core/renderer_vulkan/vk_resource_manager.h
Labels: vulkan

#3241 gl_shader_cache: Style changes
  src/video_core/renderer_opengl/gl_shader_cache.cpp
Labels: style

#3236 gl_rasterizer: Implement RASTERIZE_ENABLE
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
  src/video_core/renderer_opengl/gl_state.cpp
  src/video_core/renderer_opengl/gl_state.h
Labels: early-access-merge, gpu-new

#3244 fixed_pipeline_state: Define structure and loaders
  src/video_core/CMakeLists.txt
  src/video_core/engines/maxwell_3d.h
  src/video_core/renderer_vulkan/fixed_pipeline_state.cpp
  src/video_core/renderer_vulkan/fixed_pipeline_state.h
Labels: vulkan

#3228 shader/texture: Implement AOFFI and PTP for TLD4 and TLD4S
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/shader/decode/texture.cpp
  src/video_core/shader/node.h
  src/video_core/shader/shader_ir.h
Labels: gpu-new

#3250 gl_rasterizer: Allow rendering without fragment shader
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_shader_manager.h
Labels: early-access-merge, opengl

#3249 vk_staging_buffer_pool: Add a staging pool for temporary operations
  src/video_core/CMakeLists.txt
  src/video_core/renderer_vulkan/vk_staging_buffer_pool.cpp
  src/video_core/renderer_vulkan/vk_staging_buffer_pool.h
Labels: vulkan

#3248 vk_image: Add an image object abstraction
  src/video_core/CMakeLists.txt
  src/video_core/renderer_vulkan/vk_image.cpp
  src/video_core/renderer_vulkan/vk_image.h
Labels: vulkan
