Repository yuzu-emu/yuzu, pull requests merged in 2019-09, with the labels that each got.

#2765 MaxwellDMA: Fixes, corrections and relaxations.
  src/video_core/engines/maxwell_dma.cpp
  src/video_core/textures/decoders.cpp
  src/video_core/textures/decoders.h
Labels: canary-merge, gpu-fix

#2826 maxwell_3d: Fix macro binding cursor
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
Labels: canary-merge, gpu-fix

#2811 float_set_predicate: Add missing negation bit for the second operand
  src/video_core/engines/shader_bytecode.h
  src/video_core/shader/decode/float_set_predicate.cpp
Labels: canary-merge, gpu-fix

#2812 shader_ir/conversion: Implement F2I and F2F F16 selector
  src/video_core/engines/shader_bytecode.h
  src/video_core/shader/decode/conversion.cpp
Labels: canary-merge, gpu-new

#2793 renderer_opengl: Implement RGB565 framebuffer format
  src/core/hle/service/nvdrv/devices/nvdisp_disp0.cpp
  src/video_core/gpu.cpp
  src/video_core/gpu.h
  src/video_core/gpu_asynch.cpp
  src/video_core/gpu_asynch.h
  src/video_core/gpu_synch.cpp
  src/video_core/gpu_synch.h
  src/video_core/gpu_thread.cpp
  src/video_core/gpu_thread.h
  src/video_core/morton.cpp
  src/video_core/morton.h
  src/video_core/renderer_base.h
  src/video_core/renderer_opengl/renderer_opengl.cpp
  src/video_core/renderer_opengl/renderer_opengl.h
  src/video_core/surface.cpp
Labels: canary-merge, gpu-fix

#2708 mii: Handle logging of unknown database source
  src/core/hle/service/mii/mii_manager.cpp
Labels: hle-fix

#2801 gl_shader_decompiler: Rework GLSL decompiler type system
  src/video_core/renderer_opengl/gl_device.cpp
  src/video_core/renderer_opengl/gl_device.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
Labels: canary-merge, gpu-fix

#2807 Port citra-emu/citra#4864: "yuzu/configure: move speed limiter to general"
  src/yuzu/configuration/configure_general.cpp
  src/yuzu/configuration/configure_general.ui
  src/yuzu/configuration/configure_graphics.cpp
  src/yuzu/configuration/configure_graphics.ui
Labels: frontend-fix

#2707 system_archive: Add open-source reimplementation of MiiModel data
  src/core/CMakeLists.txt
  src/core/file_sys/system_archive/mii_model.cpp
  src/core/file_sys/system_archive/mii_model.h
  src/core/file_sys/system_archive/system_archive.cpp
Labels: canary-merge, hle-new

#2808 Port citra-emu/citra#4866: "configure_dialog: reverse tab map to avoid logic based on user-facing/translatable text"
  src/yuzu/configuration/configure_dialog.cpp
Labels: frontend-fix

#2418 es: Implement various ticket accessor commands from IEticketService
  src/core/crypto/key_manager.cpp
  src/core/crypto/key_manager.h
  src/core/hle/service/es/es.cpp
Labels: canary-merge, hle-new

#2802 half_set_predicate: Fix HSETP2 predicate assignments
  src/video_core/shader/decode/half_set_predicate.cpp
Labels: canary-merge, gpu-fix

#2833 gl_rasterizer: Fix stencil testing
  src/video_core/renderer_opengl/gl_rasterizer.cpp
Labels: canary-merge, gpu-fix

#2804 gl_shader_cache: Remove special casing for geometry shaders
  src/video_core/renderer_opengl/gl_shader_cache.cpp
  src/video_core/renderer_opengl/gl_shader_cache.h
Labels: canary-merge, gpu

#2763 kernel/vm_manager: Minor cleanup
  src/core/hle/kernel/vm_manager.cpp
  src/core/hle/kernel/vm_manager.h
Labels: canary-merge, style

#2716 service/am: Remove usages of global system accessors
  src/core/core.cpp
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/am.h
  src/core/hle/service/am/applet_ae.cpp
  src/core/hle/service/am/applet_oe.cpp
  src/core/hle/service/am/applets/applets.cpp
  src/core/hle/service/am/applets/applets.h
  src/core/hle/service/am/applets/error.cpp
  src/core/hle/service/am/applets/error.h
  src/core/hle/service/am/applets/general_backend.cpp
  src/core/hle/service/am/applets/general_backend.h
  src/core/hle/service/am/applets/profile_select.cpp
  src/core/hle/service/am/applets/profile_select.h
  src/core/hle/service/am/applets/software_keyboard.cpp
  src/core/hle/service/am/applets/software_keyboard.h
  src/core/hle/service/am/applets/web_browser.cpp
  src/core/hle/service/am/applets/web_browser.h
Labels: canary-merge, hle-fix

#2759 gl_rasterizer: Bind images and samplers to compute
  src/video_core/engines/kepler_compute.cpp
  src/video_core/engines/kepler_compute.h
  src/video_core/engines/maxwell_3d.h
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/renderer_opengl/gl_shader_disk_cache.cpp
  src/video_core/renderer_opengl/gl_state.cpp
  src/video_core/renderer_opengl/gl_state.h
  src/video_core/renderer_opengl/gl_texture_cache.h
  src/video_core/renderer_opengl/renderer_opengl.cpp
  src/video_core/shader/decode/image.cpp
  src/video_core/shader/node.h
  src/video_core/shader/shader_ir.h
  src/video_core/texture_cache/surface_base.h
  src/video_core/texture_cache/surface_params.cpp
  src/video_core/texture_cache/surface_params.h
  src/video_core/texture_cache/surface_view.cpp
  src/video_core/texture_cache/surface_view.h
  src/video_core/texture_cache/texture_cache.h
Labels: canary-merge, gpu-new

#2810 maxwell_3d: Avoid moving macro_params
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
  src/video_core/macro_interpreter.cpp
  src/video_core/macro_interpreter.h
Labels: canary-merge, performance

#2823 shader/shift: Implement SHR wrapped and clamped variants
  src/video_core/engines/shader_bytecode.h
  src/video_core/shader/decode/shift.cpp
Labels: canary-merge, gpu-new

#2757 shader/image: Implement SUATOM and fix SUST
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/renderer_opengl/gl_shader_disk_cache.cpp
  src/video_core/renderer_vulkan/vk_shader_decompiler.cpp
  src/video_core/shader/decode/image.cpp
  src/video_core/shader/node.h
  src/video_core/shader/shader_ir.h
Labels: canary-merge, gpu-new

#2667 acc: Implement IProfileEditor interface and 'Store'/'StoreWithImage' commands
  src/core/hle/service/acc/acc.cpp
  src/core/hle/service/acc/acc.h
  src/core/hle/service/acc/acc_su.cpp
  src/core/hle/service/acc/profile_manager.cpp
  src/core/hle/service/acc/profile_manager.h
Labels: canary-merge, hle-new

#2824 Revert "Revert #2466" and stub FirmwareCall 4
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
  src/video_core/macro_interpreter.cpp
Labels: canary-merge, gpu-fix

#2851 renderer_opengl: Fix sRGB blits
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_state.cpp
  src/video_core/renderer_opengl/gl_state.h
  src/video_core/renderer_opengl/renderer_opengl.cpp
  src/video_core/renderer_opengl/renderer_opengl.h
Labels: canary-merge, gpu-fix

#2784 shader_ir: Implement shared memory
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/shader/decode/memory.cpp
  src/video_core/shader/node.h
  src/video_core/shader/shader_ir.cpp
  src/video_core/shader/shader_ir.h
Labels: canary-merge, gpu-new, opengl

#2855 shader_ir/warp: Implement SHFL for Nvidia devices
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_shader_cache.cpp
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/renderer_vulkan/vk_shader_decompiler.cpp
  src/video_core/shader/decode/warp.cpp
  src/video_core/shader/node.h
Labels: canary-merge, gpu-new, opengl

#2846 gl_shader_decompiler: Avoid writing output attribute when unimplemented
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
Labels: canary-merge, gpu-fix

#2868 maxwell_to_gl: Fix mipmap filtering
  src/video_core/renderer_opengl/maxwell_to_gl.h
Labels: canary-merge, gpu-fix, opengl

#2866 configure_input: Uncheck "Joycons Docked" when "Use Docked Mode" is checked
  src/yuzu/configuration/configure_input.cpp
Labels: frontend-fix

#2576 nsp: Fix various errors with loading and processing of extracted NSPs
  src/core/file_sys/submission_package.cpp
  src/core/loader/nsp.cpp
Labels: canary-merge, core-fix

#2872 Core/Memory: Only FlushAndInvalidate GPU if the page is marked as RasterizerCachedMemory
  src/core/memory.cpp
Labels: canary-merge, core-fix

#2806 Port citra-emu/citra#4882: "Add frametime logging for tracking performance over time"
  src/core/core.cpp
  src/core/perf_stats.cpp
  src/core/perf_stats.h
  src/core/settings.h
  src/yuzu/configuration/config.cpp
  src/yuzu_cmd/config.cpp
  src/yuzu_cmd/default_ini.h
Labels: core-new

#2878 Shader_IR: Implement ICMP.Instruction
  src/video_core/engines/shader_bytecode.h
  src/video_core/shader/decode/arithmetic_integer.cpp
Labels: canary-merge, gpu-new

#2430 core: Implement FileSystemController to deglobalize FS services
  src/core/core.cpp
  src/core/core.h
  src/core/crypto/partition_data_manager.cpp
  src/core/crypto/partition_data_manager.h
  src/core/file_sys/bis_factory.cpp
  src/core/file_sys/bis_factory.h
  src/core/file_sys/card_image.cpp
  src/core/file_sys/card_image.h
  src/core/file_sys/content_archive.cpp
  src/core/file_sys/content_archive.h
  src/core/file_sys/patch_manager.cpp
  src/core/file_sys/registered_cache.cpp
  src/core/file_sys/registered_cache.h
  src/core/file_sys/romfs_factory.cpp
  src/core/file_sys/romfs_factory.h
  src/core/file_sys/savedata_factory.cpp
  src/core/file_sys/savedata_factory.h
  src/core/file_sys/sdmc_factory.cpp
  src/core/file_sys/sdmc_factory.h
  src/core/file_sys/submission_package.cpp
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/applet_ae.h
  src/core/hle/service/am/applet_oe.h
  src/core/hle/service/filesystem/filesystem.cpp
  src/core/hle/service/filesystem/filesystem.h
  src/core/hle/service/filesystem/fsp_srv.cpp
  src/core/hle/service/filesystem/fsp_srv.h
  src/core/hle/service/ns/ns.cpp
  src/core/hle/service/ns/ns.h
  src/core/hle/service/ns/pl_u.cpp
  src/core/hle/service/ns/pl_u.h
  src/core/hle/service/service.cpp
  src/core/hle/service/service.h
  src/core/loader/deconstructed_rom_directory.cpp
  src/core/loader/nca.cpp
  src/core/loader/nro.cpp
  src/core/loader/nsp.cpp
  src/core/loader/xci.cpp
  src/core/settings.cpp
  src/core/settings.h
  src/yuzu/CMakeLists.txt
  src/yuzu/configuration/config.cpp
  src/yuzu/configuration/configure.ui
  src/yuzu/configuration/configure_debug.cpp
  src/yuzu/configuration/configure_debug.ui
  src/yuzu/configuration/configure_dialog.cpp
  src/yuzu/configuration/configure_filesystem.cpp
  src/yuzu/configuration/configure_filesystem.h
  src/yuzu/configuration/configure_filesystem.ui
  src/yuzu/configuration/configure_general.cpp
  src/yuzu/main.cpp
  src/yuzu_cmd/config.cpp
  src/yuzu_cmd/default_ini.h
  src/yuzu_cmd/yuzu.cpp
  src/yuzu_tester/yuzu.cpp
Labels: core-new, hle-fix

#2612 prepo: Implement New, System, and Non-User variants of SaveReport
  src/core/hle/service/prepo/prepo.cpp
  src/core/hle/service/prepo/prepo.h
  src/core/hle/service/service.cpp
  src/core/reporter.cpp
  src/core/reporter.h
Labels: canary-merge, hle-new

#2709 system_archive: Move shared font data to system_archive and fix extended font data
  externals/CMakeLists.txt
  externals/open_source_archives/CMakeLists.txt
  externals/open_source_archives/Readme.md
  externals/open_source_archives/include/FontChineseSimplified.h
  externals/open_source_archives/include/FontChineseTraditional.h
  externals/open_source_archives/include/FontExtendedChineseSimplified.h
  externals/open_source_archives/include/FontKorean.h
  externals/open_source_archives/include/FontNintendoExtended.h
  externals/open_source_archives/include/FontStandard.h
  externals/open_source_archives/src/FontChineseSimplified.cpp
  externals/open_source_archives/src/FontChineseTraditional.cpp
  externals/open_source_archives/src/FontExtendedChineseSimplified.cpp
  externals/open_source_archives/src/FontKorean.cpp
  externals/open_source_archives/src/FontNintendoExtended.cpp
  externals/open_source_archives/src/FontStandard.cpp
  src/core/CMakeLists.txt
  src/core/file_sys/system_archive/data/font_chinese_simplified.cpp
  src/core/file_sys/system_archive/data/font_chinese_simplified.h
  src/core/file_sys/system_archive/data/font_chinese_traditional.cpp
  src/core/file_sys/system_archive/data/font_chinese_traditional.h
  src/core/file_sys/system_archive/data/font_extended_chinese_simplified.cpp
  src/core/file_sys/system_archive/data/font_extended_chinese_simplified.h
  src/core/file_sys/system_archive/data/font_korean.cpp
  src/core/file_sys/system_archive/data/font_korean.h
  src/core/file_sys/system_archive/data/font_nintendo_extended.cpp
  src/core/file_sys/system_archive/data/font_nintendo_extended.h
  src/core/file_sys/system_archive/data/font_standard.cpp
  src/core/file_sys/system_archive/data/font_standard.h
  src/core/file_sys/system_archive/shared_font.cpp
  src/core/file_sys/system_archive/shared_font.h
  src/core/file_sys/system_archive/system_archive.cpp
  src/core/hle/service/ns/pl_u.cpp
  src/core/hle/service/ns/pl_u.h
Labels: hle-fix, hle-new

#2535 cheat_engine: Use Atmosphere's Cheat VM and fix cheat crash
  src/common/logging/backend.cpp
  src/common/logging/log.h
  src/core/CMakeLists.txt
  src/core/core.cpp
  src/core/core.h
  src/core/file_sys/cheat_engine.cpp
  src/core/file_sys/cheat_engine.h
  src/core/file_sys/patch_manager.cpp
  src/core/file_sys/patch_manager.h
  src/core/loader/nso.cpp
  src/core/memory/cheat_engine.cpp
  src/core/memory/cheat_engine.h
  src/core/memory/dmnt_cheat_types.h
  src/core/memory/dmnt_cheat_vm.cpp
  src/core/memory/dmnt_cheat_vm.h
Labels: core-fix

#2893 Revert "Merge pull request #2709 from DarkLordZach/oss-ext-fonts-1"
  externals/CMakeLists.txt
  externals/open_source_archives/CMakeLists.txt
  externals/open_source_archives/Readme.md
  externals/open_source_archives/include/FontChineseSimplified.h
  externals/open_source_archives/include/FontChineseTraditional.h
  externals/open_source_archives/include/FontExtendedChineseSimplified.h
  externals/open_source_archives/include/FontKorean.h
  externals/open_source_archives/include/FontNintendoExtended.h
  externals/open_source_archives/include/FontStandard.h
  externals/open_source_archives/src/FontChineseSimplified.cpp
  externals/open_source_archives/src/FontChineseTraditional.cpp
  externals/open_source_archives/src/FontExtendedChineseSimplified.cpp
  externals/open_source_archives/src/FontKorean.cpp
  externals/open_source_archives/src/FontNintendoExtended.cpp
  externals/open_source_archives/src/FontStandard.cpp
  src/core/CMakeLists.txt
  src/core/file_sys/system_archive/data/font_chinese_simplified.cpp
  src/core/file_sys/system_archive/data/font_chinese_simplified.h
  src/core/file_sys/system_archive/data/font_chinese_traditional.cpp
  src/core/file_sys/system_archive/data/font_chinese_traditional.h
  src/core/file_sys/system_archive/data/font_extended_chinese_simplified.cpp
  src/core/file_sys/system_archive/data/font_extended_chinese_simplified.h
  src/core/file_sys/system_archive/data/font_korean.cpp
  src/core/file_sys/system_archive/data/font_korean.h
  src/core/file_sys/system_archive/data/font_nintendo_extended.cpp
  src/core/file_sys/system_archive/data/font_nintendo_extended.h
  src/core/file_sys/system_archive/data/font_standard.cpp
  src/core/file_sys/system_archive/data/font_standard.h
  src/core/file_sys/system_archive/shared_font.cpp
  src/core/file_sys/system_archive/shared_font.h
  src/core/file_sys/system_archive/system_archive.cpp
  src/core/hle/service/ns/pl_u.cpp
  src/core/hle/service/ns/pl_u.h
Labels: canary-merge

#2867 gl_rasterizer: Remove unused code paths from ConfigureFramebuffers
  src/video_core/renderer_opengl/gl_framebuffer_cache.cpp
  src/video_core/renderer_opengl/gl_framebuffer_cache.h
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
Labels: canary-merge, opengl

#2891 video_core: Implement RGBX16F and lower Surface Copy log severity
  src/video_core/engines/fermi_2d.cpp
  src/video_core/gpu.cpp
  src/video_core/gpu.h
  src/video_core/morton.cpp
  src/video_core/renderer_opengl/gl_texture_cache.cpp
  src/video_core/renderer_vulkan/maxwell_to_vk.cpp
  src/video_core/surface.cpp
  src/video_core/surface.h
Labels: canary-merge, gpu-new, opengl

#2870 Implement a MME Draw commands Inliner and correct host instance drawing
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
  src/video_core/macro_interpreter.cpp
  src/video_core/rasterizer_interface.h
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/shader/shader_ir.cpp
  src/video_core/shader/shader_ir.h
Labels: canary-merge, gpu, opengl, performance

#2873 Initial implementation of Ioctl2 & Ioctl3
  src/core/hle/service/nvdrv/devices/nvdevice.h
  src/core/hle/service/nvdrv/devices/nvdisp_disp0.cpp
  src/core/hle/service/nvdrv/devices/nvdisp_disp0.h
  src/core/hle/service/nvdrv/devices/nvhost_as_gpu.cpp
  src/core/hle/service/nvdrv/devices/nvhost_as_gpu.h
  src/core/hle/service/nvdrv/devices/nvhost_ctrl.cpp
  src/core/hle/service/nvdrv/devices/nvhost_ctrl.h
  src/core/hle/service/nvdrv/devices/nvhost_ctrl_gpu.cpp
  src/core/hle/service/nvdrv/devices/nvhost_ctrl_gpu.h
  src/core/hle/service/nvdrv/devices/nvhost_gpu.cpp
  src/core/hle/service/nvdrv/devices/nvhost_gpu.h
  src/core/hle/service/nvdrv/devices/nvhost_nvdec.cpp
  src/core/hle/service/nvdrv/devices/nvhost_nvdec.h
  src/core/hle/service/nvdrv/devices/nvhost_nvjpg.cpp
  src/core/hle/service/nvdrv/devices/nvhost_nvjpg.h
  src/core/hle/service/nvdrv/devices/nvhost_vic.cpp
  src/core/hle/service/nvdrv/devices/nvhost_vic.h
  src/core/hle/service/nvdrv/devices/nvmap.cpp
  src/core/hle/service/nvdrv/devices/nvmap.h
  src/core/hle/service/nvdrv/interface.cpp
  src/core/hle/service/nvdrv/interface.h
  src/core/hle/service/nvdrv/nvdata.h
  src/core/hle/service/nvdrv/nvdrv.cpp
  src/core/hle/service/nvdrv/nvdrv.h
Labels: canary-merge, hle-new

#2895 service/acc: Lower log severity from INFO to DEBUG
  src/core/hle/service/acc/acc.cpp
Labels: hle-fix

#2877 Added frame_count for REV5 audio renderer
  src/audio_core/audio_renderer.cpp
  src/audio_core/audio_renderer.h
Labels: audio-new, canary-merge

#2876 AcquireNpadStyleSetUpdateEventHandle should have a separate event for each controller type
  src/core/hle/service/hid/controllers/npad.cpp
  src/core/hle/service/hid/controllers/npad.h
  src/core/hle/service/hid/hid.cpp
Labels: canary-merge, hle-fix

#2889 Add missing include
  src/yuzu/configuration/configure_general.cpp
Labels: frontend-fix

#2683 am: Implement exit locking and self exit commands
  src/core/core.cpp
  src/core/core.h
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/am.h
  src/core/hle/service/am/applet_ae.h
  src/core/hle/service/am/applet_oe.h
  src/yuzu/main.cpp
  src/yuzu/main.h
Labels: hle-new

#2900 ci: Split mainline pipeline and add support for GitHub releases
  .ci/templates/build-mock.yml
  .ci/templates/build-single.yml
  .ci/templates/release-download.yml
  .ci/templates/release-github.yml
  .ci/templates/release-universal.yml
  .ci/yuzu-mainline-step1.yml
  .ci/yuzu-mainline-step2.yml
Labels: build-system-new

#2901 ci: Properly parse Azure CI details in title bar
  .ci/templates/build-single.yml
  src/common/CMakeLists.txt
Labels: build-system-new

#2869 shader/image: Implement SULD and fix SUATOM
  src/video_core/engines/shader_bytecode.h
  src/video_core/renderer_opengl/gl_device.cpp
  src/video_core/renderer_opengl/gl_device.h
  src/video_core/renderer_opengl/gl_shader_cache.cpp
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
  src/video_core/renderer_opengl/gl_shader_decompiler.h
  src/video_core/renderer_opengl/gl_shader_disk_cache.cpp
  src/video_core/renderer_vulkan/vk_shader_decompiler.cpp
  src/video_core/shader/decode/image.cpp
  src/video_core/shader/node.h
  src/video_core/shader/shader_ir.h
Labels: canary-merge, gpu-fix, gpu-new, mainline-merge, opengl

#2864 gl_shader_decompiler: Fix clang build issues
  src/video_core/renderer_opengl/gl_shader_decompiler.cpp
Labels: opengl, style

#2911 ci: Add azure patreon pipeline
  .ci/scripts/merge/apply-patches-by-label-private.py
  .ci/scripts/merge/apply-patches-by-label.py
  .ci/templates/merge-private.yml
  .ci/templates/mergebot-private.yml
  .ci/yuzu-patreon-step1.yml
  .ci/yuzu-patreon-step2.yml
  .ci/yuzu-patreon.yml
Labels: build-system-new

#2574 arm_dynarmic: Check if jit is nullptr when preparing reschedule
  src/core/arm/dynarmic/arm_dynarmic.cpp
Labels: canary-merge, cpu-fix, do-not-merge, mainline-merge
