Repository yuzu-emu/yuzu, pull requests merged in 2022-06, with the labels that each got.

#8394 core/debugger: Implement new GDB stub debugger
  src/common/settings.cpp
  src/common/settings.h
  src/core/CMakeLists.txt
  src/core/arm/arm_interface.cpp
  src/core/arm/arm_interface.h
  src/core/arm/dynarmic/arm_dynarmic_32.cpp
  src/core/arm/dynarmic/arm_dynarmic_32.h
  src/core/arm/dynarmic/arm_dynarmic_64.cpp
  src/core/arm/dynarmic/arm_dynarmic_64.h
  src/core/core.cpp
  src/core/core.h
  src/core/debugger/debugger.cpp
  src/core/debugger/debugger.h
  src/core/debugger/debugger_interface.h
  src/core/debugger/gdbstub.cpp
  src/core/debugger/gdbstub.h
  src/core/debugger/gdbstub_arch.cpp
  src/core/debugger/gdbstub_arch.h
  src/core/hle/kernel/k_process.cpp
  src/core/memory.cpp
  src/core/memory.h
  src/yuzu/bootmanager.cpp
  src/yuzu/bootmanager.h
  src/yuzu/configuration/config.cpp
  src/yuzu/configuration/configure_debug.cpp
  src/yuzu/configuration/configure_debug.ui
  src/yuzu/main.cpp
Labels: core-new

#8402 core/debugger: Improved stepping mechanism and misc fixes
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/arm/arm_interface.cpp
  src/core/arm/arm_interface.h
  src/core/arm/dynarmic/arm_dynarmic_32.cpp
  src/core/arm/dynarmic/arm_dynarmic_32.h
  src/core/arm/dynarmic/arm_dynarmic_64.cpp
  src/core/arm/dynarmic/arm_dynarmic_64.h
  src/core/debugger/debugger.cpp
  src/core/debugger/debugger.h
  src/core/debugger/debugger_interface.h
  src/core/debugger/gdbstub.cpp
  src/core/debugger/gdbstub.h
  src/core/hle/kernel/k_thread.h
  src/video_core/CMakeLists.txt
  src/yuzu/CMakeLists.txt
Labels: core-fix, early-access-merge

#8414 Maxwell3D: Fix 3D semaphore counter type 0 handling
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/engines/maxwell_3d.h
Labels: gpu-fix, early-access-merge

#8395 service: hid: Improve stub of IRS
  src/core/hle/service/hid/irs.cpp
  src/core/hle/service/hid/irs.h
Labels: hle-fix, early-access-merge

#8393 general: Set renderer_backend's default to Vulkan
  src/common/settings.h
  src/video_core/vulkan_common/vulkan_library.cpp
  src/yuzu/CMakeLists.txt
  src/yuzu/check_vulkan.cpp
  src/yuzu/check_vulkan.h
  src/yuzu/configuration/config.cpp
  src/yuzu/configuration/configure_graphics.cpp
  src/yuzu/configuration/configure_graphics.h
  src/yuzu/configuration/configure_graphics.ui
  src/yuzu/main.cpp
  src/yuzu/uisettings.h
  src/yuzu_cmd/default_ini.h
Labels: early-access-merge

#8413 gpu_thread: Move to bounded queue
  src/common/bounded_threadsafe_queue.h
  src/video_core/gpu_thread.cpp
  src/video_core/gpu_thread.h
Labels: gpu-new, performance, early-access-merge

#8443 kernel: fix KCodeMemory initialization
  src/core/hle/kernel/k_code_memory.cpp
  src/core/hle/kernel/k_page_table.cpp
  src/core/hle/kernel/k_page_table.h
Labels: core-fix, early-access-merge

#8388 CpuManager: simplify pausing
  src/core/cpu_manager.cpp
  src/core/cpu_manager.h
  src/core/hle/kernel/kernel.cpp
Labels: early-access-merge

#8459 vk_compute_pass: Silence Wextra warning
  src/video_core/renderer_vulkan/vk_compute_pass.cpp
Labels: general

#8434 input_common: Replace usage of string guid to common uuid
  src/input_common/drivers/sdl_driver.cpp
  src/input_common/drivers/sdl_driver.h
Labels: early-access-merge

#8317 service: notifa: Implement most part of this service
  src/core/hle/service/glue/notif.cpp
  src/core/hle/service/glue/notif.h
Labels: early-access-merge

#8457 kernel: implement KProcess suspension
  src/core/core.cpp
  src/core/core.h
  src/core/cpu_manager.cpp
  src/core/cpu_manager.h
  src/core/debugger/debugger.cpp
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/k_process.h
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/svc.cpp
  src/core/hle/service/nvdrv/devices/nvhost_ctrl.cpp
Labels: core-new, early-access-merge

#8476 core: fix initialization in single core, sync GPU mode
  src/core/cpu_manager.cpp
  src/core/cpu_manager.h
  src/yuzu/bootmanager.cpp
  src/yuzu_cmd/yuzu.cpp
Labels: core-fix, early-access-merge

#8468 kernel: fix some uses of disable_count
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/k_scheduler.cpp
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/kernel.cpp
Labels: core-fix, early-access-merge

#8483 kernel: wait for threads to stop on pause
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/k_thread.h
  src/core/hle/kernel/kernel.cpp
Labels: core-fix, early-access-merge

#8475 kernel: make current thread pointer thread local
  src/core/arm/arm_interface.cpp
  src/core/cpu_manager.cpp
  src/core/hle/kernel/k_address_arbiter.cpp
  src/core/hle/kernel/k_condition_variable.cpp
  src/core/hle/kernel/k_interrupt_manager.cpp
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/k_scheduler.cpp
  src/core/hle/kernel/k_scheduler.h
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/k_thread.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/svc.cpp
Labels: core-fix, early-access-merge

#8504 Support `InfoType_MesosphereCurrentProcess`
  src/core/hle/kernel/svc.cpp
Labels: kernel-new

#7454 Core: Remake Core Timing
  src/common/thread.cpp
  src/common/thread.h
  src/common/uint128.h
  src/common/x64/native_clock.cpp
  src/common/x64/native_clock.h
  src/core/core_timing.cpp
  src/core/core_timing.h
  src/tests/core/core_timing.cpp
Labels: core-new, early-access-merge
