Repository yuzu-emu/yuzu, pull requests merged in 2023-10, with the labels that each got.

#11646 Query Cache: Fix memory leak.
  src/video_core/query_cache/bank_base.h
  src/video_core/renderer_vulkan/vk_query_cache.cpp
Labels: gpu-fix, mainline-merge

#11632 service: am: Add support for LLE Cabinet Applet
  src/core/CMakeLists.txt
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/am.h
  src/core/hle/service/am/applets/applet_cabinet.h
  src/core/hle/service/am/applets/applet_general_backend.cpp
  src/core/hle/service/am/applets/applets.cpp
  src/core/hle/service/am/applets/applets.h
  src/core/hle/service/ldn/ldn.cpp
  src/core/hle/service/nfc/common/device.cpp
  src/core/hle/service/nvdrv/devices/nvmap.h
  src/core/hle/service/nvnflinger/buffer_item.h
  src/core/hle/service/nvnflinger/buffer_slot.h
  src/core/hle/service/nvnflinger/fb_share_buffer_manager.cpp
  src/core/hle/service/nvnflinger/fb_share_buffer_manager.h
  src/core/hle/service/nvnflinger/graphic_buffer_producer.h
  src/core/hle/service/nvnflinger/nvnflinger.cpp
  src/core/hle/service/nvnflinger/nvnflinger.h
  src/core/hle/service/nvnflinger/ui/fence.h
  src/core/hle/service/nvnflinger/ui/graphic_buffer.h
  src/core/hle/service/vi/vi.cpp
  src/yuzu/main.cpp
  src/yuzu/main.h
  src/yuzu/main.ui
Labels: hle-new, early-access-merge, service-implementation

#11651 fsp-srv: enable auto save data creation on init
  src/core/hle/service/filesystem/fsp_srv.cpp
Labels: filesystem-fix

#11655 qt: add additional romfs dump targets
  src/yuzu/main.cpp
Labels: frontend-new

#11652 k_page_table: skip page table clearing on finalization
  src/core/hle/kernel/k_page_table.cpp
Labels: kernel-fix

#11684 Disable push descriptor for Pascal and older nVidia architectures
  src/video_core/vulkan_common/vulkan_device.cpp
Labels: vulkan, early-access-merge, nvidia

#11669 yuzu: Fix custom rtc and mute audio settings
  src/core/core.cpp
  src/yuzu/configuration/configure_audio.cpp
  src/yuzu/configuration/shared_translation.cpp
  src/yuzu/main.cpp
  src/yuzu/uisettings.h
Labels: core-fix, mainline-merge

#11648 gdbserver: use numeric character references for unicode
  src/common/string_util.cpp
  src/common/string_util.h
  src/core/debugger/gdbstub.cpp
Labels: mainline-merge

#11639 loader: don't reassign program ID on npdm reparse
  src/core/file_sys/program_metadata.cpp
  src/core/file_sys/program_metadata.h
  src/core/loader/deconstructed_rom_directory.cpp
Labels: mainline-merge, filesystem-fix

#11630 Enable depth test on depthstencil clear path
  src/video_core/renderer_vulkan/blit_image.cpp
  src/video_core/renderer_vulkan/vk_rasterizer.cpp
Labels: gpu-fix, vulkan

#11677 Implements D32_Float to A8B8G8R8_UNORM format copy
  src/video_core/host_shaders/CMakeLists.txt
  src/video_core/host_shaders/convert_d32f_to_abgr8.frag
  src/video_core/renderer_vulkan/blit_image.cpp
  src/video_core/renderer_vulkan/blit_image.h
  src/video_core/renderer_vulkan/vk_texture_cache.cpp
Labels: gpu-fix, early-access-merge

#11656 vk_present_manager: recreate surface on any surface loss
  src/android/app/src/main/jni/native.cpp
  src/video_core/renderer_base.h
  src/video_core/renderer_vulkan/renderer_vulkan.h
  src/video_core/renderer_vulkan/vk_present_manager.cpp
  src/video_core/renderer_vulkan/vk_present_manager.h
  src/video_core/vulkan_common/vulkan_wrapper.h
Labels: vulkan, android

#10519 yuzu-qt: Track play time
  src/common/fs/fs_paths.h
  src/common/fs/path_util.cpp
  src/common/fs/path_util.h
  src/yuzu/CMakeLists.txt
  src/yuzu/configuration/configure_ui.cpp
  src/yuzu/configuration/configure_ui.ui
  src/yuzu/game_list.cpp
  src/yuzu/game_list.h
  src/yuzu/game_list_p.h
  src/yuzu/game_list_worker.cpp
  src/yuzu/game_list_worker.h
  src/yuzu/main.cpp
  src/yuzu/main.h
  src/yuzu/play_time_manager.cpp
  src/yuzu/play_time_manager.h
  src/yuzu/uisettings.h
Labels: early-access-merge

#11705 yuzu: Add desktop shortcut support for Windows (continuation of #11344)
  src/common/fs/fs_paths.h
  src/common/fs/path_util.cpp
  src/common/fs/path_util.h
  src/yuzu/game_list.cpp
  src/yuzu/main.cpp
  src/yuzu/util/util.cpp
  src/yuzu/util/util.h
Labels: early-access-merge

#11716 add Z32, FLOAT, UINT, UINT, UINT, LINEAR to format lookup table
  src/video_core/texture_cache/format_lookup_table.cpp
Labels: gpu-fix, early-access-merge

#11686 kernel: implement transfer memory
  src/core/hle/kernel/k_page_table.cpp
  src/core/hle/kernel/k_page_table.h
  src/core/hle/kernel/k_transfer_memory.cpp
  src/core/hle/kernel/k_transfer_memory.h
  src/core/hle/kernel/svc/svc_transfer_memory.cpp
Labels: kernel-new, mainline-merge

#11650 service: am: Add support for LLE Album Applet
  externals/CMakeLists.txt
  externals/stb/stb_image.cpp
  externals/stb/stb_image.h
  externals/stb/stb_image_resize.cpp
  externals/stb/stb_image_resize.h
  src/core/CMakeLists.txt
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/am.h
  src/core/hle/service/am/applet_ae.cpp
  src/core/hle/service/am/applets/applet_error.cpp
  src/core/hle/service/caps/caps.cpp
  src/core/hle/service/caps/caps.h
  src/core/hle/service/caps/caps_a.cpp
  src/core/hle/service/caps/caps_a.h
  src/core/hle/service/caps/caps_c.cpp
  src/core/hle/service/caps/caps_c.h
  src/core/hle/service/caps/caps_manager.cpp
  src/core/hle/service/caps/caps_manager.h
  src/core/hle/service/caps/caps_result.h
  src/core/hle/service/caps/caps_sc.cpp
  src/core/hle/service/caps/caps_sc.h
  src/core/hle/service/caps/caps_ss.cpp
  src/core/hle/service/caps/caps_ss.h
  src/core/hle/service/caps/caps_su.cpp
  src/core/hle/service/caps/caps_su.h
  src/core/hle/service/caps/caps_types.h
  src/core/hle/service/caps/caps_u.cpp
  src/core/hle/service/caps/caps_u.h
  src/core/hle/service/nifm/nifm.cpp
  src/core/hle/service/nifm/nifm.h
  src/core/hle/service/ns/ns.cpp
  src/core/hle/service/ns/ns.h
  src/core/hle/service/pctl/pctl_module.cpp
  src/yuzu/main.cpp
  src/yuzu/main.h
  src/yuzu/main.ui
Labels: hle-new, early-access-merge, service-implementation

#11718 common: add arm64 native clock
  src/common/CMakeLists.txt
  src/common/arm64/native_clock.cpp
  src/common/arm64/native_clock.h
  src/common/wall_clock.cpp
Labels: core-new, android-merge

#11534 Partial revert of #10433 (Texture Cache Util: Fix block depth adjustment on slices)
  src/video_core/texture_cache/util.cpp
Labels: gpu-fix, mainline-merge

#11144 Enable controller interaction in Controller Applet
  dist/qt_themes/default/style.qss
  dist/qt_themes/qdarkstyle/style.qss
  dist/qt_themes/qdarkstyle_midnight_blue/style.qss
  src/yuzu/applets/qt_controller.cpp
  src/yuzu/applets/qt_controller.h
  src/yuzu/applets/qt_controller.ui
Labels: early-access-merge

#11744 Do not set rescaled flag when rescaling is disabled
  src/video_core/renderer_opengl/gl_texture_cache.cpp
  src/video_core/renderer_vulkan/vk_texture_cache.cpp
Labels: gpu-fix, early-access-merge

#11740 yuzu: Save multiple resolutions per icon
  src/yuzu/util/util.cpp
Labels: early-access-merge, os-windows

#11720 ci/linux: Upload separated debug symbols
  .ci/scripts/common/pre-upload.sh
  .ci/scripts/linux/docker.sh
  .ci/scripts/linux/upload.sh
Labels: build-system-new, mainline-merge

#11751 Transition MSAA images to general layout without uploading data
  src/video_core/renderer_opengl/gl_texture_cache.h
  src/video_core/renderer_vulkan/vk_texture_cache.cpp
  src/video_core/renderer_vulkan/vk_texture_cache.h
  src/video_core/texture_cache/texture_cache.h
Labels: gpu-fix, vulkan, early-access-merge

#11753 service: caps: Fix GetAlbumFileList3AaeAruid and GetAlbumFileList0AafeAruidDeprecated
  src/core/hle/service/caps/caps.cpp
  src/core/hle/service/caps/caps_manager.cpp
  src/core/hle/service/caps/caps_manager.h
  src/core/hle/service/caps/caps_types.h
  src/core/hle/service/caps/caps_u.cpp
Labels: hle-fix, early-access-merge

#11765 service: caps: Remove ambiguous call
  src/core/hle/service/caps/caps_a.cpp
Labels: hle-fix, mainline-merge

#11763 kernel: mark TLS accessors as noinline for non-MSVC LTO
  src/common/common_funcs.h
  src/core/hle/kernel/kernel.cpp
Labels: build-system-fix, mainline-merge

#11746 jit: add support for relr-type relocations
  src/common/elf.h
  src/core/hle/service/jit/jit_context.cpp
Labels: hle-new, mainline-merge

#11649 android: Driver manager
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/YuzuApplication.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/DriverAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/DriverManagerFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/DriversLoadingDialogFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/HomeSettingsFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/IndeterminateProgressDialogFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/DriverViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/ui/main/MainActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/DocumentsTree.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/FileUtil.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GameHelper.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GpuDriverHelper.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GpuDriverMetadata.kt
  src/android/app/src/main/res/drawable/ic_build.xml
  src/android/app/src/main/res/drawable/ic_delete.xml
  src/android/app/src/main/res/layout/card_driver_option.xml
  src/android/app/src/main/res/layout/fragment_driver_manager.xml
  src/android/app/src/main/res/navigation/home_navigation.xml
  src/android/app/src/main/res/values-de/strings.xml
  src/android/app/src/main/res/values-es/strings.xml
  src/android/app/src/main/res/values-fr/strings.xml
  src/android/app/src/main/res/values-it/strings.xml
  src/android/app/src/main/res/values-ja/strings.xml
  src/android/app/src/main/res/values-ko/strings.xml
  src/android/app/src/main/res/values-nb/strings.xml
  src/android/app/src/main/res/values-pl/strings.xml
  src/android/app/src/main/res/values-pt-rBR/strings.xml
  src/android/app/src/main/res/values-pt-rPT/strings.xml
  src/android/app/src/main/res/values-ru/strings.xml
  src/android/app/src/main/res/values-uk/strings.xml
  src/android/app/src/main/res/values-zh-rCN/strings.xml
  src/android/app/src/main/res/values-zh-rTW/strings.xml
  src/android/app/src/main/res/values/dimens.xml
  src/android/app/src/main/res/values/strings.xml
Labels: android-merge

#11766 k_page_table: add missing page group open when locking memory
  src/core/hle/kernel/k_page_table.cpp
Labels: kernel-fix, mainline-merge

#11767 android: Update dependencies
  CMakeLists.txt
  src/android/app/build.gradle.kts
  src/android/app/src/main/AndroidManifest.xml
  src/android/build.gradle.kts
Labels: android-merge

#11775 Implement vertex array first and subsequent draws
  src/video_core/engines/draw_manager.cpp
  src/video_core/engines/draw_manager.h
Labels: gpu-fix, early-access-merge

#11778 audio: fix shutdown deadlock in audio renderer
  src/audio_core/sink/sink_stream.cpp
Labels: audio-fix, mainline-merge

#11786 host1x/codecs: enable CUDA on Linux
  src/video_core/host1x/codecs/codec.cpp
Labels: mainline-merge

#11653 service: acc: Implement functions needed for profile select
  src/core/hle/service/acc/acc.cpp
  src/core/hle/service/acc/acc.h
  src/core/hle/service/acc/acc_su.cpp
  src/core/hle/service/acc/profile_manager.h
  src/core/hle/service/am/am.cpp
  src/core/hle/service/am/am.h
Labels: hle-new, early-access-merge

#11349 video_core: Fix moltenvk crash on macos
  src/video_core/buffer_cache/buffer_cache_base.h
  src/video_core/host_shaders/convert_d24s8_to_abgr8.frag
  src/video_core/host_shaders/convert_s8d24_to_abgr8.frag
  src/video_core/renderer_vulkan/vk_rasterizer.cpp
Labels: vulkan, early-access-merge

#11747 Small things
  src/video_core/renderer_vulkan/vk_query_cache.cpp
  src/video_core/renderer_vulkan/vk_render_pass_cache.cpp
  src/video_core/texture_cache/formatter.cpp
  src/video_core/texture_cache/samples_helper.h
Labels: gpu-fix, vulkan, early-access-merge

#11774 fsmitm_romfsbuild: avoid unnecessary copies of vfs pointers
  src/core/core.cpp
  src/core/file_sys/fsmitm_romfsbuild.cpp
  src/core/file_sys/patch_manager.cpp
  src/core/file_sys/registered_cache.cpp
  src/core/file_sys/romfs.cpp
  src/core/file_sys/vfs_cached.cpp
  src/core/file_sys/vfs_cached.h
  src/core/file_sys/vfs_concat.cpp
  src/core/file_sys/vfs_concat.h
  src/core/file_sys/vfs_layered.cpp
Labels: mainline-merge, filesystem-fix

#11791 service: hle: Allow to access read buffer A and X directly
  src/core/hle/service/acc/acc.cpp
  src/core/hle/service/hle_ipc.cpp
  src/core/hle/service/hle_ipc.h
  src/core/hle/service/prepo/prepo.cpp
Labels: hle-fix, early-access-merge

#11825 kernel: fix incorrect calculation of used non system memory value
  src/core/hle/kernel/k_process.cpp
Labels: kernel-fix, mainline-merge, android-merge

#11748 kernel: update for 17.0.0
  .codespellrc
  src/core/debugger/gdbstub.cpp
  src/core/hle/kernel/init/init_slab_setup.cpp
  src/core/hle/kernel/initial_process.h
  src/core/hle/kernel/k_memory_block.h
  src/core/hle/kernel/k_memory_block_manager.cpp
  src/core/hle/kernel/k_memory_block_manager.h
  src/core/hle/kernel/k_memory_layout.h
  src/core/hle/kernel/k_memory_manager.cpp
  src/core/hle/kernel/k_memory_region_type.h
  src/core/hle/kernel/k_page_group.h
  src/core/hle/kernel/k_page_table.cpp
  src/core/hle/kernel/k_page_table.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/svc/svc_memory.cpp
  src/core/hle/kernel/svc_types.h
  src/core/hle/service/nvnflinger/fb_share_buffer_manager.cpp
Labels: kernel-new, mainline-merge

#11789 Manually robust on Maxwell and earlier
  src/shader_recompiler/backend/spirv/emit_spirv_context_get_set.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.h
  src/shader_recompiler/profile.h
  src/video_core/renderer_vulkan/vk_pipeline_cache.cpp
  src/video_core/vulkan_common/vulkan_device.cpp
  src/video_core/vulkan_common/vulkan_device.h
Labels: gpu-fix, vulkan, early-access-merge

#11828 common: use SetThreadDescription API for thread names
  src/common/thread.cpp
Labels: os-windows

#11847 emit_glsl_warp: Fix shfl_in_bounds conditional
  src/shader_recompiler/backend/glsl/emit_glsl.cpp
  src/shader_recompiler/backend/glsl/emit_glsl_warp.cpp
Labels: gpu-fix, opengl, early-access-merge

#11846 cheats: Clamp cheat names without failing
  src/core/memory/cheat_engine.cpp
Labels: core-fix, early-access-merge

#11812 service: caps: Implement SaveScreenShotEx0 and variants
  externals/CMakeLists.txt
  externals/stb/stb_image_write.cpp
  externals/stb/stb_image_write.h
  src/core/hle/service/caps/caps.cpp
  src/core/hle/service/caps/caps_manager.cpp
  src/core/hle/service/caps/caps_manager.h
  src/core/hle/service/caps/caps_ss.cpp
  src/core/hle/service/caps/caps_ss.h
  src/core/hle/service/caps/caps_su.cpp
  src/core/hle/service/caps/caps_su.h
  src/core/hle/service/caps/caps_types.h
Labels: hle-new, early-access-merge

#11876 vulkan_common: use highest API version
  src/video_core/vulkan_common/vulkan_wrapper.cpp
Labels: vulkan, early-access-merge, android-merge

#11827 nvnflinger: fix reporting and freeing of preallocated buffers
  src/core/hle/service/nvnflinger/buffer_queue_core.cpp
  src/core/hle/service/nvnflinger/buffer_queue_producer.cpp
Labels: hle-fix, mainline-merge, android-merge

#11843 kernel: update KProcess
  src/core/arm/arm_interface.cpp
  src/core/core.cpp
  src/core/debugger/debugger.cpp
  src/core/debugger/gdbstub.cpp
  src/core/file_sys/program_metadata.cpp
  src/core/file_sys/program_metadata.h
  src/core/hle/kernel/board/nintendo/nx/k_system_control.cpp
  src/core/hle/kernel/board/nintendo/nx/k_system_control.h
  src/core/hle/kernel/k_capabilities.h
  src/core/hle/kernel/k_condition_variable.cpp
  src/core/hle/kernel/k_condition_variable.h
  src/core/hle/kernel/k_interrupt_manager.cpp
  src/core/hle/kernel/k_memory_manager.cpp
  src/core/hle/kernel/k_memory_manager.h
  src/core/hle/kernel/k_page_table.cpp
  src/core/hle/kernel/k_page_table.h
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/k_process.h
  src/core/hle/kernel/k_scheduler.cpp
  src/core/hle/kernel/k_system_resource.cpp
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/k_thread.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/svc.cpp
  src/core/hle/kernel/svc/svc_info.cpp
  src/core/hle/kernel/svc/svc_lock.cpp
  src/core/hle/kernel/svc/svc_physical_memory.cpp
  src/core/hle/kernel/svc/svc_synchronization.cpp
  src/core/hle/kernel/svc/svc_thread.cpp
  src/core/hle/kernel/svc_generator.py
  src/core/hle/kernel/svc_types.h
  src/core/hle/service/kernel_helpers.cpp
  src/core/hle/service/nvnflinger/nvnflinger.cpp
  src/core/hle/service/nvnflinger/nvnflinger.h
  src/core/hle/service/pm/pm.cpp
  src/core/reporter.cpp
  src/yuzu/debugger/wait_tree.cpp
  src/yuzu/main.cpp
Labels: kernel-new, kernel-fix, mainline-merge

#11852 input_common: joycon: Move vibrations to a queue
  src/input_common/helpers/joycon_driver.cpp
  src/input_common/helpers/joycon_driver.h
Labels: mainline-merge

#11859 Add missing loop around compute FindBuffer calls
  src/video_core/buffer_cache/buffer_cache.h
  src/video_core/renderer_vulkan/vk_rasterizer.cpp
Labels: gpu-fix, mainline-merge, vulkan

#11862 Manually robust on Pascal and earlier
  src/video_core/renderer_vulkan/vk_pipeline_cache.cpp
Labels: gpu-fix, mainline-merge, vulkan

#11866 qt: fix game list shutdown crash
  src/yuzu/game_list.cpp
  src/yuzu/game_list.h
  src/yuzu/game_list_worker.cpp
  src/yuzu/game_list_worker.h
Labels: frontend-fix, mainline-merge

#11893 renderer_vulkan: fix viewport swizzle dirty state tracking
  src/video_core/renderer_vulkan/vk_state_tracker.cpp
Labels: gpu-fix, vulkan

#11910 renderer_vulkan: ensure exception on surface loss
  src/video_core/renderer_vulkan/vk_swapchain.cpp
Labels: gpu-fix, vulkan, android-merge

#11903 Implemented wheel event for volume control in VolumeButton
  src/yuzu/main.cpp
  src/yuzu/main.h
Labels: frontend-new, early-access-merge

#11892 service: am: Implement ISelfController::SaveCurrentScreenshot
  src/core/hle/service/am/am.cpp
  src/core/hle/service/caps/caps_manager.cpp
  src/core/hle/service/caps/caps_manager.h
  src/core/hle/service/caps/caps_ss.cpp
  src/core/hle/service/caps/caps_su.cpp
  src/core/hle/service/caps/caps_su.h
Labels: hle-new, mainline-merge
