Repository yuzu-emu/yuzu, pull requests merged in 2023-12, with the labels that each got.

#12256 vk_blit_screen: Use correct format for fxaa renderpass
  src/video_core/renderer_vulkan/vk_blit_screen.cpp
Labels: gpu-fix, early-access-merge, android-merge

#12260 android: Don't reload filesystem on update install
  src/android/app/src/main/jni/native.cpp
Labels: android-merge, android

#12283 frontend_common: Use optional for language default
  src/yuzu/configuration/qt_config.cpp
Labels: early-access-merge

#12271 nce: fix pre-text patch for single modules
  src/core/arm/nce/patcher.cpp
Labels: core-fix, android-merge

#12289 service: hid: Introduce proper AppletResource emulation
  src/core/CMakeLists.txt
  src/core/hle/service/hid/controllers/applet_resource.cpp
  src/core/hle/service/hid/controllers/applet_resource.h
  src/core/hle/service/hid/errors.h
  src/core/hle/service/hid/hid.cpp
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/hid_system_server.cpp
  src/core/hle/service/hid/hid_system_server.h
  src/core/hle/service/hid/resource_manager.cpp
  src/core/hle/service/hid/resource_manager.h
Labels: early-access-merge

#12299 kernel: implement light IPC
  src/core/CMakeLists.txt
  src/core/hle/kernel/k_client_port.cpp
  src/core/hle/kernel/k_client_port.h
  src/core/hle/kernel/k_light_client_session.cpp
  src/core/hle/kernel/k_light_client_session.h
  src/core/hle/kernel/k_light_server_session.cpp
  src/core/hle/kernel/k_light_server_session.h
  src/core/hle/kernel/k_light_session.cpp
  src/core/hle/kernel/k_light_session.h
  src/core/hle/kernel/k_port.cpp
  src/core/hle/kernel/k_port.h
  src/core/hle/kernel/k_server_port.cpp
  src/core/hle/kernel/k_server_port.h
  src/core/hle/kernel/k_thread.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/svc/svc_light_ipc.cpp
  src/core/hle/kernel/svc/svc_port.cpp
  src/core/hle/kernel/svc/svc_session.cpp
Labels: kernel-new, early-access-merge

#12296 kernel: implement remaining IPC syscalls
  src/core/hle/kernel/k_client_session.cpp
  src/core/hle/kernel/k_client_session.h
  src/core/hle/kernel/k_server_session.cpp
  src/core/hle/kernel/k_session.h
  src/core/hle/kernel/svc/svc_ipc.cpp
  src/core/hle/service/sm/sm.cpp
Labels: kernel-new, early-access-merge

#12321 ro: add separate ro service
  src/core/CMakeLists.txt
  src/core/hle/kernel/k_server_session.cpp
  src/core/hle/service/hle_ipc.cpp
  src/core/hle/service/hle_ipc.h
  src/core/hle/service/ldr/ldr.cpp
  src/core/hle/service/ro/ro.cpp
  src/core/hle/service/ro/ro.h
  src/core/hle/service/ro/ro_nro_utils.cpp
  src/core/hle/service/ro/ro_nro_utils.h
  src/core/hle/service/ro/ro_results.h
  src/core/hle/service/ro/ro_types.h
  src/core/hle/service/server_manager.cpp
  src/core/hle/service/server_manager.h
  src/core/hle/service/service.cpp
  src/core/hle/service/sm/sm.cpp
  src/core/hle/service/sm/sm.h
Labels: hle-fix, early-access-merge, service-implementation

#12317 kernel: fix single core
  src/core/hle/kernel/physical_core.cpp
Labels: early-access-merge

#12327 sm:: fix tipc deserialization
  src/core/hle/service/sm/sm.cpp
  src/core/hle/service/sm/sm.h
Labels: hle-fix

#12322 fs: don't enumerate hidden savedata size file
  src/core/file_sys/savedata_factory.cpp
  src/core/file_sys/savedata_factory.h
  src/core/hle/service/filesystem/fsp_srv.cpp
Labels: early-access-merge, filesystem-fix

#12333 service: hid: Improve CreateAppletResource implementation and free resources
  src/core/hle/service/hid/controllers/applet_resource.cpp
  src/core/hle/service/hid/controllers/applet_resource.h
  src/core/hle/service/hid/errors.h
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/resource_manager.cpp
  src/core/hle/service/hid/resource_manager.h
Labels: mainline-merge

#12328 core: Use single instance of profile manager
  src/android/app/src/main/jni/native.cpp
  src/android/app/src/main/jni/native.h
  src/core/core.cpp
  src/core/core.h
  src/yuzu/applets/qt_profile_select.cpp
  src/yuzu/applets/qt_profile_select.h
  src/yuzu/configuration/configure_profile_manager.cpp
  src/yuzu/configuration/configure_profile_manager.h
  src/yuzu/main.cpp
  src/yuzu/multiplayer/lobby.cpp
  src/yuzu/multiplayer/lobby.h
  src/yuzu/play_time_manager.cpp
  src/yuzu/play_time_manager.h
Labels: early-access-merge

#12372 ssl: fix output byte buffer size issue
  src/core/hle/service/ssl/ssl.cpp
Labels: hle-fix

#12359 service: hid: Allow to create multiple instances of shared memory
  src/core/CMakeLists.txt
  src/core/hid/input_interpreter.cpp
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/service/hid/controllers/applet_resource.cpp
  src/core/hle/service/hid/controllers/applet_resource.h
  src/core/hle/service/hid/controllers/console_six_axis.cpp
  src/core/hle/service/hid/controllers/console_six_axis.h
  src/core/hle/service/hid/controllers/controller_base.h
  src/core/hle/service/hid/controllers/debug_pad.cpp
  src/core/hle/service/hid/controllers/debug_pad.h
  src/core/hle/service/hid/controllers/gesture.cpp
  src/core/hle/service/hid/controllers/gesture.h
  src/core/hle/service/hid/controllers/keyboard.cpp
  src/core/hle/service/hid/controllers/keyboard.h
  src/core/hle/service/hid/controllers/mouse.cpp
  src/core/hle/service/hid/controllers/mouse.h
  src/core/hle/service/hid/controllers/npad.cpp
  src/core/hle/service/hid/controllers/npad.h
  src/core/hle/service/hid/controllers/palma.cpp
  src/core/hle/service/hid/controllers/palma.h
  src/core/hle/service/hid/controllers/shared_memory_format.h
  src/core/hle/service/hid/controllers/shared_memory_holder.cpp
  src/core/hle/service/hid/controllers/shared_memory_holder.h
  src/core/hle/service/hid/controllers/six_axis.cpp
  src/core/hle/service/hid/controllers/stubbed.cpp
  src/core/hle/service/hid/controllers/stubbed.h
  src/core/hle/service/hid/controllers/touchscreen.cpp
  src/core/hle/service/hid/controllers/touchscreen.h
  src/core/hle/service/hid/controllers/types/debug_pad_types.h
  src/core/hle/service/hid/controllers/types/gesture_types.h
  src/core/hle/service/hid/controllers/types/keyboard_types.h
  src/core/hle/service/hid/controllers/types/mouse_types.h
  src/core/hle/service/hid/controllers/types/npad_types.h
  src/core/hle/service/hid/controllers/types/touch_types.h
  src/core/hle/service/hid/controllers/xpad.cpp
  src/core/hle/service/hid/controllers/xpad.h
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/hid_system_server.cpp
  src/core/hle/service/hid/resource_manager.cpp
  src/core/hle/service/hid/resource_manager.h
  src/core/memory/cheat_engine.cpp
Labels: early-access-merge

#12358 common: use memory holepunching when clearing memory
  src/common/host_memory.cpp
  src/common/host_memory.h
  src/core/hle/kernel/k_memory_manager.cpp
  src/core/hle/kernel/k_page_table_base.cpp
Labels: early-access-merge, android-merge

#12344 video_core: use interval map for page count tracking
  src/tests/video_core/memory_tracker.cpp
  src/video_core/buffer_cache/word_manager.h
  src/video_core/rasterizer_accelerated.cpp
  src/video_core/rasterizer_accelerated.h
  src/video_core/rasterizer_interface.h
  src/video_core/shader_cache.cpp
  src/video_core/texture_cache/texture_cache.h
Labels: gpu, early-access-merge, android-merge

#12290 Improve path splitting speed
  src/common/fs/path_util.cpp
  src/common/fs/path_util.h
  src/core/file_sys/vfs.cpp
  src/core/file_sys/vfs_real.cpp
  src/core/hle/service/filesystem/filesystem.cpp
Labels: mainline-merge, filesystem-fix

#12237 nce: implement instruction emulation for misaligned memory accesses
  src/android/app/build.gradle.kts
  src/core/CMakeLists.txt
  src/core/arm/nce/arm_nce.cpp
  src/core/arm/nce/arm_nce.h
  src/core/arm/nce/arm_nce.s
  src/core/arm/nce/arm_nce_asm_definitions.h
  src/core/arm/nce/interpreter_visitor.cpp
  src/core/arm/nce/interpreter_visitor.h
  src/core/arm/nce/visitor_base.h
Labels: core-new, android-merge

#12184 Make system settings persistent across boots
  src/common/common_funcs.h
  src/core/CMakeLists.txt
  src/core/hle/service/set/appln_settings.cpp
  src/core/hle/service/set/appln_settings.h
  src/core/hle/service/set/device_settings.cpp
  src/core/hle/service/set/device_settings.h
  src/core/hle/service/set/private_settings.cpp
  src/core/hle/service/set/private_settings.h
  src/core/hle/service/set/set.h
  src/core/hle/service/set/set_sys.cpp
  src/core/hle/service/set/set_sys.h
  src/core/hle/service/set/system_settings.cpp
  src/core/hle/service/set/system_settings.h
Labels: early-access-merge

#12331 vi: fix confusion between closing and destroying layers
  src/core/hle/service/nvnflinger/fb_share_buffer_manager.cpp
  src/core/hle/service/nvnflinger/nvnflinger.cpp
  src/core/hle/service/nvnflinger/nvnflinger.h
  src/core/hle/service/vi/display/vi_display.cpp
  src/core/hle/service/vi/display/vi_display.h
  src/core/hle/service/vi/layer/vi_layer.cpp
  src/core/hle/service/vi/layer/vi_layer.h
  src/core/hle/service/vi/vi.cpp
Labels: hle-fix, mainline-merge

#12345 renderer_vulkan: cap async presentation frame count
  src/video_core/renderer_vulkan/vk_present_manager.cpp
  src/video_core/renderer_vulkan/vk_present_manager.h
Labels: gpu, early-access-merge, android-merge

#12349 Have GetActiveChannelCount return the system channels instead of host device channels
  src/audio_core/sink/cubeb_sink.cpp
  src/audio_core/sink/sdl2_sink.cpp
  src/audio_core/sink/sink.h
  src/audio_core/sink/sink_stream.cpp
  src/core/hle/service/audio/audren_u.cpp
Labels: audio-fix, mainline-merge, android-merge

#12304 nvnflinger: mark buffer as acquired when acquired
  src/core/hle/service/nvnflinger/buffer_queue_consumer.cpp
  src/core/hle/service/nvnflinger/buffer_queue_core.cpp
  src/core/hle/service/nvnflinger/buffer_slot.h
Labels: hle-fix, mainline-merge, android-merge

#12391 Revert "video_core: use interval map for page count tracking"
  src/tests/video_core/memory_tracker.cpp
  src/video_core/buffer_cache/word_manager.h
  src/video_core/rasterizer_accelerated.cpp
  src/video_core/rasterizer_accelerated.h
  src/video_core/rasterizer_interface.h
  src/video_core/shader_cache.cpp
  src/video_core/texture_cache/texture_cache.h
Labels: android-merge

#12387 android: add oboe audio sink
  CMakeLists.txt
  src/android/app/src/main/res/values/arrays.xml
  src/android/app/src/main/res/values/strings.xml
  src/audio_core/CMakeLists.txt
  src/audio_core/sink/oboe_sink.cpp
  src/audio_core/sink/oboe_sink.h
  src/audio_core/sink/sink_details.cpp
  src/common/settings_enums.h
  vcpkg.json
Labels: audio-new, android-merge, android

#12382 renderer_vulkan: allow up to 7 swapchain images
  src/video_core/fence_manager.h
  src/video_core/renderer_vulkan/vk_present_manager.cpp
  src/video_core/renderer_vulkan/vk_update_descriptor.h
  src/video_core/texture_cache/texture_cache_base.h
Labels: vulkan, android-merge

#12390 renderer_vulkan: work around turnip binding bug in a610
  src/video_core/renderer_vulkan/vk_buffer_cache.cpp
  src/video_core/vulkan_common/vulkan_device.cpp
Labels: early-access-merge, android-merge

#12403 shader_recompiler: use minimal clip distance array
  src/shader_recompiler/backend/spirv/emit_spirv_context_get_set.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.cpp
  src/shader_recompiler/ir_opt/collect_shader_info_pass.cpp
  src/shader_recompiler/profile.h
  src/shader_recompiler/shader_info.h
  src/video_core/renderer_opengl/gl_shader_cache.cpp
  src/video_core/renderer_vulkan/vk_pipeline_cache.cpp
  src/video_core/vulkan_common/vulkan_device.h
Labels: gpu-fix, vulkan, early-access-merge, android-merge

#12409 nce: fix read size in simd immediate emulation
  src/core/arm/nce/arm_nce.cpp
  src/core/arm/nce/interpreter_visitor.cpp
Labels: cpu-fix, android-merge

#12400 vk_query_cache: Fix prefix sum max_accumulation_limit logic
  src/video_core/renderer_vulkan/vk_query_cache.cpp
Labels: gpu-fix, vulkan, early-access-merge, android-merge

#12432 shader_recompiler: use float image operations on load/store when required
  src/shader_recompiler/backend/spirv/emit_spirv_image.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.h
  src/shader_recompiler/environment.h
  src/shader_recompiler/ir_opt/texture_pass.cpp
  src/shader_recompiler/shader_info.h
  src/video_core/renderer_opengl/gl_shader_cache.cpp
  src/video_core/renderer_vulkan/vk_pipeline_cache.cpp
  src/video_core/shader_environment.cpp
  src/video_core/shader_environment.h
Labels: gpu-fix, early-access-merge, android-merge, android

#12410 renderer_vulkan: don't pass null view when nullDescriptor is not supported
  src/video_core/renderer_vulkan/vk_buffer_cache.cpp
  src/video_core/renderer_vulkan/vk_buffer_cache.h
Labels: gpu-fix, vulkan, early-access-merge, android-merge

#12435 shader_recompiler: ensure derivatives for textureGrad are f32
  src/shader_recompiler/ir_opt/constant_propagation_pass.cpp
Labels: gpu-fix, early-access-merge

#12412 OpenGL: Add GL_PRIMITIVES_GENERATED and GL_TRANSFORM_FEEDBACK_PRIMITIVES_WRITTEN queries
  src/video_core/engines/maxwell_3d.cpp
  src/video_core/query_cache.h
  src/video_core/renderer_opengl/gl_query_cache.cpp
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
  src/video_core/renderer_vulkan/vk_rasterizer.cpp
Labels: opengl, early-access-merge

#12394 general: properly support multiple memory instances
  src/core/arm/arm_interface.cpp
  src/core/arm/arm_interface.h
  src/core/arm/debug.cpp
  src/core/arm/debug.h
  src/core/arm/dynarmic/arm_dynarmic_32.cpp
  src/core/arm/dynarmic/arm_dynarmic_32.h
  src/core/arm/dynarmic/arm_dynarmic_64.cpp
  src/core/arm/dynarmic/arm_dynarmic_64.h
  src/core/core.cpp
  src/core/core.h
  src/core/file_sys/program_metadata.cpp
  src/core/file_sys/program_metadata.h
  src/core/hle/kernel/k_address_arbiter.cpp
  src/core/hle/kernel/k_client_port.cpp
  src/core/hle/kernel/k_condition_variable.cpp
  src/core/hle/kernel/k_handle_table.h
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/k_process.h
  src/core/hle/kernel/k_server_session.cpp
  src/core/hle/kernel/k_server_session.h
  src/core/hle/kernel/k_session.cpp
  src/core/hle/kernel/k_thread.cpp
  src/core/hle/kernel/k_thread.h
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/message_buffer.h
  src/core/hle/kernel/svc/svc_info.cpp
  src/core/hle/kernel/svc/svc_ipc.cpp
  src/core/hle/kernel/svc_results.h
  src/core/hle/service/fatal/fatal.cpp
  src/core/hle/service/ipc_helpers.h
  src/core/hle/service/server_manager.cpp
  src/core/hle/service/set/set_sys.cpp
  src/core/hle/service/set/set_sys.h
  src/core/hle/service/sm/sm.cpp
  src/core/hle/service/sm/sm.h
  src/core/hle/service/sm/sm_controller.cpp
  src/core/loader/deconstructed_rom_directory.cpp
  src/core/memory.cpp
Labels: kernel-new, kernel-fix, mainline-merge, android-merge

#12415 gl_rasterizer: Implement DrawTransformFeedback macro
  src/video_core/macro/macro_hle.cpp
  src/video_core/rasterizer_interface.h
  src/video_core/renderer_opengl/gl_buffer_cache.cpp
  src/video_core/renderer_opengl/gl_buffer_cache.h
  src/video_core/renderer_opengl/gl_rasterizer.cpp
  src/video_core/renderer_opengl/gl_rasterizer.h
  src/video_core/renderer_opengl/gl_resource_manager.cpp
  src/video_core/renderer_opengl/gl_resource_manager.h
Labels: early-access-merge

#12448 renderer_vulkan: demote format assert to error log
  src/video_core/vulkan_common/vulkan_device.cpp
Labels: gpu-fix, mainline-merge, vulkan, android-merge

#12449 renderer_vulkan: skip SetObjectNameEXT on unsupported driver
  src/video_core/vulkan_common/vulkan_wrapper.cpp
Labels: gpu-fix, mainline-merge, vulkan, android-merge

#12465 service: fetch objects from the client handle table
  src/core/hle/kernel/k_handle_table.h
  src/core/hle/kernel/k_process.h
  src/core/hle/kernel/k_server_session.cpp
  src/core/hle/service/am/am.cpp
  src/core/hle/service/audio/audren_u.cpp
  src/core/hle/service/audio/hwopus.cpp
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/hidbus.cpp
  src/core/hle/service/hid/irs.cpp
  src/core/hle/service/hle_ipc.cpp
  src/core/hle/service/hle_ipc.h
  src/core/hle/service/jit/jit.cpp
  src/core/hle/service/ro/ro.cpp
  src/core/hle/service/service.cpp
Labels: core-fix, early-access-merge

#12455 kernel: use simple mutex for object list container
  src/core/hle/kernel/k_auto_object_container.cpp
  src/core/hle/kernel/k_auto_object_container.h
  src/core/hle/kernel/k_transfer_memory.h
Labels: kernel-fix, early-access-merge

#12487 shader_recompiler: use default value for clip distances array
  src/shader_recompiler/backend/spirv/spirv_emit_context.cpp
Labels: gpu-fix, mainline-merge, vulkan, android-merge

#12479 video_core: Fix buffer_row_length for linear compressed textures
  src/video_core/texture_cache/decode_bc.cpp
  src/video_core/texture_cache/decode_bc.h
  src/video_core/texture_cache/util.cpp
Labels: mainline-merge, android-merge

#12509 k_capabilities: simplify KTrace map skip logic
  src/core/hle/kernel/k_capabilities.cpp
Labels: kernel-fix
