Repository yuzu-emu/yuzu, pull requests merged in 2024-01, with the labels that each got.

#12513 jit: use code memory handles correctly
  src/core/CMakeLists.txt
  src/core/hle/service/jit/jit.cpp
  src/core/hle/service/jit/jit_code_memory.cpp
  src/core/hle/service/jit/jit_code_memory.h
Labels: core-fix, mainline-merge, android-merge

#12501 ips_layer: prevent out of bounds access with offset exceeding module size
  src/core/file_sys/ips_layer.cpp
Labels: mainline-merge, android-merge

#12466 core: track separate heap allocation for linux
  src/common/CMakeLists.txt
  src/common/heap_tracker.cpp
  src/common/heap_tracker.h
  src/common/host_memory.cpp
  src/common/host_memory.h
  src/core/CMakeLists.txt
  src/core/arm/dynarmic/arm_dynarmic.cpp
  src/core/arm/dynarmic/arm_dynarmic.h
  src/core/arm/dynarmic/arm_dynarmic_32.cpp
  src/core/arm/dynarmic/arm_dynarmic_64.cpp
  src/core/hle/kernel/k_page_table_base.cpp
  src/core/hle/kernel/k_page_table_base.h
  src/core/hle/kernel/k_process.cpp
  src/core/memory.cpp
  src/core/memory.h
  src/tests/common/host_memory.cpp
Labels: mainline-merge, android-merge

#12454 core_timing: minor refactors
  src/audio_core/device/device_session.cpp
  src/core/core_timing.cpp
  src/core/core_timing.h
  src/core/hle/kernel/k_hardware_timer.cpp
  src/core/hle/kernel/kernel.cpp
  src/core/hle/service/hid/hidbus.cpp
  src/core/hle/service/hid/hidbus.h
  src/core/hle/service/hid/resource_manager.cpp
  src/core/hle/service/hid/resource_manager.h
  src/core/hle/service/nvnflinger/nvnflinger.cpp
  src/core/memory/cheat_engine.cpp
  src/core/memory/cheat_engine.h
  src/core/tools/freezer.cpp
  src/core/tools/freezer.h
  src/tests/core/core_timing.cpp
Labels: core-fix, mainline-merge, android-merge

#12518 android: Migrate remaining settings to ini
  src/android/app/build.gradle.kts
  src/android/app/src/main/java/org/yuzu/yuzu_emu/activities/EmulationActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/model/BooleanSetting.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/model/IntSetting.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/model/Settings.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/ui/SettingsFragmentPresenter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/InputOverlay.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/InputOverlayDrawableButton.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/InputOverlayDrawableJoystick.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/model/OverlayControl.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/model/OverlayControlData.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/model/OverlayControlDefault.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/overlay/model/OverlayLayout.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/DirectoryInitialization.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/EmulationMenuSettings.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/NativeConfig.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/PreferenceUtil.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/ThemeHelper.kt
  src/android/app/src/main/jni/android_common/android_common.cpp
  src/android/app/src/main/jni/android_common/android_common.h
  src/android/app/src/main/jni/android_config.cpp
  src/android/app/src/main/jni/android_config.h
  src/android/app/src/main/jni/android_settings.h
  src/android/app/src/main/jni/id_cache.cpp
  src/android/app/src/main/jni/id_cache.h
  src/android/app/src/main/jni/native_config.cpp
  src/android/app/src/main/res/menu/menu_overlay_options.xml
  src/android/app/src/main/res/values/arrays.xml
  src/android/app/src/main/res/values/integers.xml
  src/android/app/src/main/res/values/strings.xml
  src/android/build.gradle.kts
  src/common/settings.cpp
  src/common/settings_common.h
  src/frontend_common/config.cpp
  src/frontend_common/config.h
  src/yuzu/configuration/qt_config.cpp
  src/yuzu_cmd/sdl_config.cpp
Labels: android-merge

#12543 VideoCore: A few fixes to DMA and swapchain
  src/core/memory.h
  src/video_core/engines/maxwell_dma.cpp
  src/video_core/renderer_vulkan/vk_present_manager.cpp
Labels: performance, gpu, early-access-merge, android-merge

#12549 service: hid: Implement NpadResource and NpadData
  src/core/CMakeLists.txt
  src/core/hid/hid_types.h
  src/core/hle/service/hid/controllers/applet_resource.h
  src/core/hle/service/hid/controllers/capture_button.cpp
  src/core/hle/service/hid/controllers/console_six_axis.cpp
  src/core/hle/service/hid/controllers/controller_base.cpp
  src/core/hle/service/hid/controllers/controller_base.h
  src/core/hle/service/hid/controllers/debug_mouse.cpp
  src/core/hle/service/hid/controllers/debug_pad.cpp
  src/core/hle/service/hid/controllers/digitizer.cpp
  src/core/hle/service/hid/controllers/gesture.cpp
  src/core/hle/service/hid/controllers/home_button.cpp
  src/core/hle/service/hid/controllers/keyboard.cpp
  src/core/hle/service/hid/controllers/mouse.cpp
  src/core/hle/service/hid/controllers/npad.cpp
  src/core/hle/service/hid/controllers/npad.h
  src/core/hle/service/hid/controllers/npad/npad_data.cpp
  src/core/hle/service/hid/controllers/npad/npad_data.h
  src/core/hle/service/hid/controllers/npad/npad_resource.cpp
  src/core/hle/service/hid/controllers/npad/npad_resource.h
  src/core/hle/service/hid/controllers/six_axis.cpp
  src/core/hle/service/hid/controllers/sleep_button.cpp
  src/core/hle/service/hid/controllers/touchscreen.cpp
  src/core/hle/service/hid/controllers/types/npad_types.h
  src/core/hle/service/hid/controllers/types/shared_memory_format.h
  src/core/hle/service/hid/controllers/unique_pad.cpp
  src/core/hle/service/hid/errors.h
  src/core/hle/service/hid/hid.cpp
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/hid_system_server.cpp
  src/core/hle/service/hid/hid_util.h
  src/core/hle/service/hid/irs.cpp
  src/core/hle/service/hid/resource_manager.cpp
  src/core/hle/service/hid/resource_manager.h
Labels: mainline-merge, android-merge

#12557 KThread: Send termination interrupt to all cores a thread has affinity to
  src/core/hle/kernel/k_thread.cpp
Labels: kernel-fix, mainline-merge, android-merge

#12558 android: Disable compression for zip exports
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/GamePropertiesFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/ui/main/MainActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/FileUtil.kt
Labels: android-merge

#12571 android: Expose more orientation options
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/model/Settings.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/res/values/arrays.xml
  src/android/app/src/main/res/values/strings.xml
Labels: android-merge

#12437 OpenGL: Fixes and workaround updates for AMD
  src/shader_recompiler/backend/glsl/emit_glsl_image.cpp
  src/shader_recompiler/backend/glsl/emit_glsl_instructions.h
  src/shader_recompiler/backend/spirv/spirv_emit_context.cpp
  src/video_core/renderer_opengl/gl_device.cpp
  src/yuzu/configuration/shared_translation.cpp
Labels: mainline-merge

#12576 android: Re-add global save manager
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/InstallableFragment.kt
  src/android/app/src/main/jni/native.cpp
  src/android/app/src/main/res/values/strings.xml
  src/core/file_sys/savedata_factory.cpp
  src/core/file_sys/savedata_factory.h
Labels: android-merge

#12560 android: add basic support for google game dashboard
  src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/res/xml/game_mode_config.xml
Labels: android-merge

#12622 ci: make verify format workflow output more helpful
  .ci/scripts/format/script.sh
  .ci/scripts/linux/exec.sh
  LICENSES/BSD-2-Clause.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/MPL-2.0.txt
  externals/ffmpeg/CMakeLists.txt
Labels: early-access-merge

#12653 ci: fix file mode check in format script
  .ci/scripts/format/script.sh
Labels: build-system-fix, mainline-merge

#12642 android: Refactor list adapters
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AbstractDiffAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AbstractListAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AbstractSingleSelectionList.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AddonAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AppletAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/CabinetLauncherDialogAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/DriverAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/FolderAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/GameAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/GamePropertiesAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/HomeSettingAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/InstallableAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/LicenseAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/SetupAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/DriverManagerFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/Driver.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/DriverViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/SelectableItem.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/ui/main/MainActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GpuDriverHelper.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/viewholder/AbstractViewHolder.kt
  src/android/app/src/main/res/menu/menu_driver_manager.xml
Labels: android-merge

#12605 service: hid: Create abstracted pad structure
  src/android/app/src/main/jni/native.cpp
  src/core/frontend/applets/controller.cpp
  src/core/hle/service/hid/hid_server.cpp
  src/hid_core/CMakeLists.txt
  src/hid_core/frontend/emulated_controller.cpp
  src/hid_core/hid_types.h
  src/hid_core/hid_util.h
  src/hid_core/resources/abstracted_pad/abstract_battery_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_battery_handler.h
  src/hid_core/resources/abstracted_pad/abstract_button_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_button_handler.h
  src/hid_core/resources/abstracted_pad/abstract_ir_sensor_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_ir_sensor_handler.h
  src/hid_core/resources/abstracted_pad/abstract_led_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_led_handler.h
  src/hid_core/resources/abstracted_pad/abstract_mcu_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_mcu_handler.h
  src/hid_core/resources/abstracted_pad/abstract_nfc_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_nfc_handler.h
  src/hid_core/resources/abstracted_pad/abstract_pad.cpp
  src/hid_core/resources/abstracted_pad/abstract_pad.h
  src/hid_core/resources/abstracted_pad/abstract_pad_holder.cpp
  src/hid_core/resources/abstracted_pad/abstract_pad_holder.h
  src/hid_core/resources/abstracted_pad/abstract_palma_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_palma_handler.h
  src/hid_core/resources/abstracted_pad/abstract_properties_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_properties_handler.h
  src/hid_core/resources/abstracted_pad/abstract_sixaxis_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_sixaxis_handler.h
  src/hid_core/resources/abstracted_pad/abstract_vibration_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_vibration_handler.h
  src/hid_core/resources/npad/npad.cpp
  src/hid_core/resources/npad/npad_data.cpp
  src/hid_core/resources/npad/npad_types.h
  src/hid_core/resources/npad/npad_vibration.cpp
  src/hid_core/resources/npad/npad_vibration.h
  src/hid_core/resources/six_axis/six_axis.cpp
  src/hid_core/resources/vibration/gc_vibration_device.cpp
  src/hid_core/resources/vibration/gc_vibration_device.h
  src/hid_core/resources/vibration/n64_vibration_device.cpp
  src/hid_core/resources/vibration/n64_vibration_device.h
  src/hid_core/resources/vibration/vibration_base.cpp
  src/hid_core/resources/vibration/vibration_base.h
  src/hid_core/resources/vibration/vibration_device.cpp
  src/hid_core/resources/vibration/vibration_device.h
  src/yuzu/applets/qt_controller.cpp
  src/yuzu/applets/qt_software_keyboard.cpp
  src/yuzu/configuration/configure_input_player.cpp
  src/yuzu/configuration/configure_input_player_widget.cpp
  src/yuzu/main.cpp
  src/yuzu/util/controller_navigation.cpp
Labels: early-access-merge, android-merge

#12610 server_manager: respond to session close correctly
  src/core/hle/service/server_manager.cpp
Labels: hle-fix, mainline-merge, android-merge

#12611 kernel: fix resource management issues
  src/common/page_table.cpp
  src/core/debugger/debugger.cpp
  src/core/debugger/gdbstub.cpp
  src/core/debugger/gdbstub.h
  src/core/hle/kernel/k_memory_block_manager.cpp
  src/core/hle/kernel/k_memory_block_manager.h
  src/core/hle/kernel/k_page_table_base.cpp
  src/core/hle/kernel/k_page_table_base.h
  src/core/hle/kernel/k_process.cpp
  src/core/hle/kernel/kernel.cpp
  src/core/hle/kernel/kernel.h
  src/core/hle/kernel/svc/svc_process.cpp
  src/core/hle/service/glue/arp.cpp
  src/core/hle/service/hid/hid.cpp
  src/core/hle/service/pm/pm.cpp
Labels: kernel-fix, mainline-merge, android-merge

#12612 fsp-srv: use program registry for SetCurrentProcess
  src/android/app/src/main/jni/native.cpp
  src/core/CMakeLists.txt
  src/core/core.cpp
  src/core/file_sys/savedata_factory.cpp
  src/core/file_sys/savedata_factory.h
  src/core/hle/service/am/am.cpp
  src/core/hle/service/filesystem/filesystem.cpp
  src/core/hle/service/filesystem/filesystem.h
  src/core/hle/service/filesystem/fsp_srv.cpp
  src/core/hle/service/filesystem/fsp_srv.h
  src/core/hle/service/filesystem/romfs_controller.cpp
  src/core/hle/service/filesystem/romfs_controller.h
  src/core/hle/service/filesystem/save_data_controller.cpp
  src/core/hle/service/filesystem/save_data_controller.h
  src/core/loader/deconstructed_rom_directory.cpp
  src/core/loader/nca.cpp
  src/core/loader/nro.cpp
  src/core/loader/nsp.cpp
  src/core/loader/xci.cpp
  src/yuzu/main.cpp
Labels: mainline-merge, android-merge

#12652 shader_recompiler: emulate 8-bit and 16-bit storage writes with cas loop
  src/shader_recompiler/backend/spirv/emit_spirv_memory.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.cpp
  src/shader_recompiler/backend/spirv/spirv_emit_context.h
Labels: gpu-fix, vulkan, android-merge

#12659 audio: fetch process object from handle table
  src/audio_core/device/device_session.cpp
  src/audio_core/device/device_session.h
  src/audio_core/in/audio_in_system.cpp
  src/audio_core/in/audio_in_system.h
  src/audio_core/out/audio_out_system.cpp
  src/audio_core/out/audio_out_system.h
  src/core/hle/service/audio/audin_u.cpp
  src/core/hle/service/audio/audout_u.cpp
Labels: mainline-merge, android-merge

#12665 service: acc: Only save profiles when profiles have changed
  src/core/hle/service/acc/profile_manager.cpp
  src/core/hle/service/acc/profile_manager.h
  src/yuzu/configuration/configure_profile_manager.cpp
Labels: mainline-merge, android-merge

#12677 core: Support multiple modules per patcher
  src/core/arm/nce/patcher.cpp
  src/core/arm/nce/patcher.h
  src/core/hle/kernel/k_process.cpp
  src/core/loader/deconstructed_rom_directory.cpp
  src/core/loader/nso.cpp
  src/core/loader/nso.h
Labels: android-merge

#12380 Save configuration profile name used by players
  src/android/app/src/main/jni/android_config.cpp
  src/frontend_common/config.cpp
  src/frontend_common/config.h
  src/yuzu/configuration/configure_input_player.cpp
  src/yuzu/configuration/input_profiles.cpp
  src/yuzu/configuration/qt_config.cpp
  src/yuzu_cmd/sdl_config.cpp
Labels: early-access-merge

#12699 android: Save overlay data while using emulation fragment
  src/android/app/src/main/java/org/yuzu/yuzu_emu/activities/EmulationActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
Labels: android-merge

#12644 shader_recompiler: fix Offset operand usage for non-OpImage*Gather
  src/shader_recompiler/backend/spirv/emit_spirv_image.cpp
  src/shader_recompiler/backend/spirv/emit_spirv_instructions.h
Labels: mainline-merge, vulkan, android-merge

#12683 service: nfc: Create backup when none exist
  src/core/hle/service/nfc/common/device.cpp
Labels: early-access-merge, android-merge

#12695 Allow -u to accept a username string in addition to index
  src/core/hle/service/acc/profile_manager.cpp
  src/core/hle/service/acc/profile_manager.h
  src/yuzu/main.cpp
  src/yuzu/main.h
Labels: mainline-merge

#12687 core: hid: Disable special features before disconnecting the controllers
  src/hid_core/frontend/emulated_controller.cpp
Labels: early-access-merge, android-merge

#12701 vi: check layer state before opening or closing
  src/core/hle/service/nvnflinger/nvnflinger.cpp
  src/core/hle/service/nvnflinger/nvnflinger.h
  src/core/hle/service/vi/display/vi_display.cpp
  src/core/hle/service/vi/display/vi_display.h
  src/core/hle/service/vi/layer/vi_layer.h
  src/core/hle/service/vi/vi.cpp
Labels: hle-fix, mainline-merge, android-merge

#12660 service: hid: Fully implement abstract vibration
  src/core/hle/service/hid/hid.cpp
  src/core/hle/service/hid/hid_server.cpp
  src/core/hle/service/hid/hid_server.h
  src/core/hle/service/hid/hid_system_server.cpp
  src/core/hle/service/hid/hid_system_server.h
  src/hid_core/frontend/emulated_controller.cpp
  src/hid_core/frontend/emulated_controller.h
  src/hid_core/resource_manager.cpp
  src/hid_core/resource_manager.h
  src/hid_core/resources/abstracted_pad/abstract_ir_sensor_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_ir_sensor_handler.h
  src/hid_core/resources/abstracted_pad/abstract_pad.cpp
  src/hid_core/resources/abstracted_pad/abstract_pad.h
  src/hid_core/resources/abstracted_pad/abstract_vibration_handler.cpp
  src/hid_core/resources/abstracted_pad/abstract_vibration_handler.h
  src/hid_core/resources/applet_resource.cpp
  src/hid_core/resources/applet_resource.h
  src/hid_core/resources/npad/npad.cpp
  src/hid_core/resources/npad/npad.h
  src/hid_core/resources/npad/npad_types.h
  src/hid_core/resources/npad/npad_vibration.cpp
  src/hid_core/resources/npad/npad_vibration.h
  src/hid_core/resources/vibration/gc_vibration_device.cpp
  src/hid_core/resources/vibration/gc_vibration_device.h
  src/hid_core/resources/vibration/n64_vibration_device.cpp
  src/hid_core/resources/vibration/n64_vibration_device.h
  src/hid_core/resources/vibration/vibration_base.cpp
  src/hid_core/resources/vibration/vibration_base.h
  src/hid_core/resources/vibration/vibration_device.cpp
  src/hid_core/resources/vibration/vibration_device.h
  src/yuzu/configuration/configure_vibration.cpp
Labels: mainline-merge, android-merge

#12715 android: Add uninstall addon button
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AddonAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/AddonsFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/DriverManagerFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/GamePropertiesFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/InstallableFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/ProgressDialogFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/Addon.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/AddonViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/InstallResult.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/Patch.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/PatchType.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/TaskViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/ui/main/MainActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/FileUtil.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GpuDriverHelper.kt
  src/android/app/src/main/jni/android_common/android_common.cpp
  src/android/app/src/main/jni/android_common/android_common.h
  src/android/app/src/main/jni/id_cache.cpp
  src/android/app/src/main/jni/id_cache.h
  src/android/app/src/main/jni/native.cpp
  src/android/app/src/main/jni/native.h
  src/android/app/src/main/res/layout/dialog_progress_bar.xml
  src/android/app/src/main/res/layout/list_item_addon.xml
  src/android/app/src/main/res/values/strings.xml
  src/core/file_sys/patch_manager.cpp
  src/core/file_sys/patch_manager.h
  src/frontend_common/CMakeLists.txt
  src/frontend_common/content_manager.h
  src/yuzu/configuration/configure_per_game_addons.cpp
  src/yuzu/game_list_worker.cpp
  src/yuzu/main.cpp
  src/yuzu/main.h
Labels: android-merge

#12724 fs/file: Explicitly convert std::u8string to std::filesystem::path
  src/common/fs/file.h
Labels: filesystem-fix

#12688 renderer_vulkan: recreate swapchain when frame size changes
  src/video_core/renderer_vulkan/vk_present_manager.cpp
Labels: gpu-fix, mainline-merge, vulkan, android-merge

#12736 android: Add verify contents buttons
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/GameInfoFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/HomeSettingsFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/MessageDialogFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/GameVerificationResult.kt
  src/android/app/src/main/jni/native.cpp
  src/android/app/src/main/res/layout/fragment_game_info.xml
  src/android/app/src/main/res/values/strings.xml
  src/frontend_common/content_manager.h
  src/yuzu/main.cpp
Labels: android-merge

#12738 android: Port "Lock drawer" feature from Citra
  src/android/app/src/main/java/org/yuzu/yuzu_emu/features/settings/model/IntSetting.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/jni/android_settings.h
  src/android/app/src/main/res/drawable/ic_lock.xml
  src/android/app/src/main/res/menu/menu_in_game.xml
  src/android/app/src/main/res/values/strings.xml
Labels: android-merge

#12781 Demote dozen to the bottom of the device list
  src/video_core/vulkan_common/vulkan_wrapper.cpp
Labels: mainline-merge, vulkan

#12786 android: Show driver vendor in FPS overlay
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/DriverViewModel.kt
  src/android/app/src/main/jni/native.cpp
Labels: android-merge

#12787 android: Only compare game contents for GameAdapter
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/AbstractDiffAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/adapters/GameAdapter.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/Game.kt
Labels: android-merge

#12777 android: Add key warning
  src/android/app/src/main/java/org/yuzu/yuzu_emu/NativeLibrary.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/MessageDialogFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/SetupFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/HomeViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/ui/main/MainActivity.kt
  src/android/app/src/main/jni/native.cpp
  src/android/app/src/main/res/values/strings.xml
  src/frontend_common/content_manager.h
  src/yuzu/main.cpp
  src/yuzu/main.h
  src/yuzu/main.ui
Labels: early-access-merge, android-merge

#12759 core: miscellaneous fixes
  src/core/hle/kernel/k_page_table_base.cpp
  src/core/hle/service/nvdrv/core/container.cpp
  src/core/hle/service/nvdrv/core/nvmap.cpp
  src/core/hle/service/nvdrv/core/nvmap.h
Labels: hle-fix, mainline-merge, android-merge

#12798 cmif_serialization: fixes
  src/core/hle/service/cmif_serialization.h
  src/core/hle/service/cmif_types.h
  src/core/hle/service/jit/jit.cpp
  src/core/hle/service/ro/ro.cpp
Labels: hle-fix

#12796 android: Controller focus optimizations
  src/android/app/src/main/java/org/yuzu/yuzu_emu/activities/EmulationActivity.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/AboutFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/EmulationViewModel.kt
  src/android/app/src/main/res/layout-w600dp/fragment_about.xml
  src/android/app/src/main/res/layout-w600dp/fragment_game_info.xml
  src/android/app/src/main/res/layout-w600dp/fragment_game_properties.xml
  src/android/app/src/main/res/layout/card_driver_option.xml
  src/android/app/src/main/res/layout/card_folder.xml
  src/android/app/src/main/res/layout/fragment_about.xml
  src/android/app/src/main/res/layout/fragment_addons.xml
  src/android/app/src/main/res/layout/fragment_applet_launcher.xml
  src/android/app/src/main/res/layout/fragment_driver_manager.xml
  src/android/app/src/main/res/layout/fragment_early_access.xml
  src/android/app/src/main/res/layout/fragment_emulation.xml
  src/android/app/src/main/res/layout/fragment_folders.xml
  src/android/app/src/main/res/layout/fragment_game_info.xml
  src/android/app/src/main/res/layout/fragment_game_properties.xml
  src/android/app/src/main/res/layout/fragment_games.xml
  src/android/app/src/main/res/layout/fragment_home_settings.xml
  src/android/app/src/main/res/layout/fragment_installables.xml
  src/android/app/src/main/res/layout/fragment_licenses.xml
  src/android/app/src/main/res/layout/fragment_settings.xml
  src/android/app/src/main/res/layout/list_item_addon.xml
  src/android/app/src/main/res/layout/list_item_settings_header.xml
Labels: android-merge

#12809 android: Add cancel condition to installed content check
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/HomeSettingsFragment.kt
Labels: android-merge

#12769 core: hid: Reduce controller requests
  src/hid_core/frontend/emulated_controller.cpp
  src/hid_core/frontend/emulated_controller.h
  src/hid_core/hid_types.h
Labels: mainline-merge, android-merge

#12808 vfs: Fix getting URI filename
  src/core/file_sys/vfs/vfs_real.cpp
Labels: android-merge

#12815 android: Reload global settings on closing emulation
  src/android/app/src/main/java/org/yuzu/yuzu_emu/fragments/EmulationFragment.kt
Labels: android-merge

#12827 android: Disable focus on loading card
  src/android/app/src/main/res/layout/fragment_emulation.xml
Labels: android-merge

#12802 service: mii: Migrate service to new interface
  src/core/hle/service/am/applets/applet_mii_edit.cpp
  src/core/hle/service/mii/mii.cpp
  src/core/hle/service/mii/mii.h
  src/core/hle/service/set/system_settings_server.cpp
Labels: mainline-merge, android-merge

#12825 kernel: clear pinned waiter list on unpin
  src/core/hle/kernel/k_thread.cpp
Labels: kernel-fix

#12826 android: Show system driver information
  src/android/app/src/main/java/org/yuzu/yuzu_emu/model/DriverViewModel.kt
  src/android/app/src/main/java/org/yuzu/yuzu_emu/utils/GpuDriverHelper.kt
  src/android/app/src/main/jni/CMakeLists.txt
  src/android/app/src/main/jni/native.cpp
Labels: android-merge

#12821 atomic_ops: Reduce code duplication with templates
  src/common/atomic_ops.h
  src/core/memory.cpp
Labels: early-access-merge

#12814 Move time services to new IPC and add debug printing
  externals/tz/tz/tz.cpp
  externals/tz/tz/tz.h
  src/audio_core/CMakeLists.txt
  src/common/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/core.cpp
  src/core/hle/service/caps/caps_manager.cpp
  src/core/hle/service/cmif_serialization.h
  src/core/hle/service/cmif_types.h
  src/core/hle/service/glue/time/alarm_worker.cpp
  src/core/hle/service/glue/time/alarm_worker.h
  src/core/hle/service/glue/time/file_timestamp_worker.cpp
  src/core/hle/service/glue/time/manager.cpp
  src/core/hle/service/glue/time/static.cpp
  src/core/hle/service/glue/time/static.h
  src/core/hle/service/glue/time/time_zone.cpp
  src/core/hle/service/glue/time/time_zone.h
  src/core/hle/service/glue/time/time_zone_binary.cpp
  src/core/hle/service/glue/time/time_zone_binary.h
  src/core/hle/service/glue/time/worker.cpp
  src/core/hle/service/glue/time/worker.h
  src/core/hle/service/nfc/common/device.cpp
  src/core/hle/service/nfc/common/device_manager.cpp
  src/core/hle/service/psc/time/common.h
  src/core/hle/service/psc/time/power_state_service.cpp
  src/core/hle/service/psc/time/power_state_service.h
  src/core/hle/service/psc/time/service_manager.cpp
  src/core/hle/service/psc/time/service_manager.h
  src/core/hle/service/psc/time/static.cpp
  src/core/hle/service/psc/time/static.h
  src/core/hle/service/psc/time/steady_clock.cpp
  src/core/hle/service/psc/time/steady_clock.h
  src/core/hle/service/psc/time/system_clock.cpp
  src/core/hle/service/psc/time/system_clock.h
  src/core/hle/service/psc/time/time_zone.cpp
  src/core/hle/service/psc/time/time_zone.h
  src/core/hle/service/psc/time/time_zone_service.cpp
  src/core/hle/service/psc/time/time_zone_service.h
  src/dedicated_room/CMakeLists.txt
  src/video_core/CMakeLists.txt
  src/yuzu/CMakeLists.txt
  src/yuzu_cmd/CMakeLists.txt
Labels: early-access-merge, android-merge

#12867 aoc: fix DLC listing
  src/core/hle/service/aoc/aoc_u.cpp
Labels: android-merge

#12868 settings: Allow audio sink, input, and output to be set per game
  src/common/settings.h
  src/yuzu/configuration/configure_audio.cpp
  src/yuzu/configuration/configure_audio.h
Labels: android-merge

#12864 Small time fixes
  src/core/hle/service/glue/time/time_zone.cpp
  src/core/hle/service/glue/time/time_zone.h
  src/core/hle/service/psc/time/common.h
  src/core/hle/service/psc/time/service_manager.cpp
  src/core/hle/service/psc/time/time_zone.cpp
  src/core/hle/service/psc/time/time_zone.h
  src/core/hle/service/psc/time/time_zone_service.cpp
  src/core/hle/service/psc/time/time_zone_service.h
  src/core/hle/service/set/system_settings_server.cpp
Labels: mainline-merge, android-merge

#12869 SMMU: A set of different fixes.
  src/common/CMakeLists.txt
  src/common/range_mutex.h
  src/core/device_memory_manager.h
  src/core/device_memory_manager.inc
  src/core/hle/service/nvdrv/core/container.cpp
  src/video_core/texture_cache/texture_cache.h
  src/video_core/texture_cache/texture_cache_base.h
Labels: gpu-fix, mainline-merge, android-merge

#12858 internal_network: only poll for accept on blocking sockets
  src/core/internal_network/network.cpp
  src/core/internal_network/sockets.h
Labels: mainline-merge, android-merge
